{% extends 'base.html.twig' %}

{% block title %}New Transaction Tag - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('transaction_tag_new') }}
{% endblock %}

{% block body %}
    <div id="transaction-tag-new-page" class="hidden max-w-screen-xxl mx-auto">
        <div class="bg-secondary shadow-md rounded-md max-w-lg mx-auto mt-6 border border-quaternary border-solid">
            <div class="bg-tertiary text-center py-2 rounded-t-md border-b border-quaternary border-solid">
                <h1 class="text-sm font-bold text-dynamic">Add a New Transaction Tag</h1>
            </div>

            <div class="p-6">
                {{ form_start(form) }}

                {% if form_errors(form) %}
                    <div class="mb-4 p-4 bg-red-100 text-danger rounded-md">
                        {{ form_errors(form) }}
                    </div>
                {% endif %}

                <div class="grid grid-cols-1 gap-1">
                    <div class="flex flex-col mb-2">
                        {{ form_label(form.name, null, {label_attr: {class: 'text-dynamic font-semibold text-sm'}}) }}
                        {{ form_widget(form.name, {attr: {class: 'rounded-md p-2 border border-solid border-quaternary bg-secondary text-sm text-dynamic'}}) }}
                        {{ form_errors(form.name) }}
                    </div>
                    <div class="flex mb-2">
                        {{ form_widget(form.useDefaultColor, {attr: {class: 'h-4 w-4 rounded-md js-transaction-tag-use-default-color text-sm'}}) }}
                        {{ form_label(form.useDefaultColor, null, {label_attr: {class: 'ml-2 block text-sm text-dynamic text-sm'}}) }}
                        {{ form_errors(form.useDefaultColor) }}
                    </div>
                    <div id="js-transaction-tag-color-field" class="flex flex-col mb-2">
                        {{ form_label(form.color, null, {label_attr: {class: 'text-dynamic font-semibold text-sm'}}) }}
                        {{ form_widget(form.color, {attr: {class: 'rounded-md p-0.5 text-sm'}}) }}
                        {{ form_errors(form.color) }}
                    </div>
                </div>
                <div class="mt-4 flex justify-between">
                    <twig:BackButton />
                    <twig:Cta
                        color="accent-primary"
                        size="xs"
                        label="Create tag"
                        buttonType="submit"
                    />
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block loadingSpinner %}
    {{ include('components/spinner/page_spinner.html.twig', {spinnerId: 'loadingPageSpinner'}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('transaction_tag_new') }}
{% endblock %}
