{% extends 'base.html.twig' %}

{% block title %}Update Account - {{ parent() }}{% endblock %}

{% block body %}
    <div>
        <div class="bg-secondary rounded-md max-w-lg mx-auto border border-quaternary border-solid border">
            <div class="bg-tertiary text-white text-center p-2 rounded-t-md border-b border-quaternary border-solid">
                <h1 class="text-md font-bold text-white">Update Account</h1>
            </div>

            <div class="p-4">
                {{ form_start(form) }}

                {% if form_errors(form) %}
                    <div class="mb-4 p-4 bg-danger text-white rounded-md">
                        {{ form_errors(form) }}
                    </div>
                {% endif %}

                <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                    <div class="flex flex-col mb-2">
                        {{ form_label(form.name, null, {label_attr: {class: 'text-white'}}) }}
                        {{ form_widget(form.name, {attr: {class: 'rounded-md p-2 bg-secondary border-quaternary border-solid border'}}) }}
                        {% if form_errors(form.name) %}
                            <div class="text-danger text-sm mt-1">
                                {{ form_errors(form.name) }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="flex flex-col mb-2">
                        {{ form_label(form.identifier, null, {label_attr: {class: 'text-white'}}) }}
                        {{ form_widget(form.identifier, {attr: {class: 'rounded-md p-2 bg-secondary border-quaternary border-solid border'}}) }}
                        <div class="text-danger text-sm mt-1">
                            {{ form_errors(form.identifier) }}
                        </div>
                    </div>
                </div>

                <div class="flex flex-col mb-2">
                    {{ form_label(form.priority, null, {label_attr: {class: 'text-white'}}) }}
                    {{ form_widget(form.priority, {attr: {class: 'rounded-md p-2 bg-secondary border-quaternary border-solid border'}}) }}
                    <div class="text-danger text-sm mt-1">
                        {{ form_errors(form.priority) }}
                    </div>
                </div>

                <div class="mt-4 flex justify-between">
                    <a href="{{ app.request.headers.get('referer') ?: path('account_list') }}" class="bg-quaternary hover:bg-quaternary-hover border-solid border border-quaternary-ring text-white font-bold py-2 px-4 rounded-md">
                        <i class="fa-solid fa-arrow-left mr-1"></i> Back
                    </a>
                    <button type="submit" class="bg-accent-primary hover:bg-accent-primary-hover border-solid border border-accent-primary-ring text-center font-bold text-white py-2 px-4 rounded-md">
                        Update Account
                    </button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
