{% extends 'base.html.twig' %}

{% block title %}{{ wallet.month|month_name }} {{ wallet.year }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('account_wallet_dashboard') }}
    {{ encore_entry_link_tags('account_wallet_dashboard_transaction_list') }}
{% endblock %}

{% block body %}
    <div id="account-wallet-dashboard-page" class="max-w-screen-xxl mx-auto hidden">
        <div class="w-full p-4">
            {{ include('account/wallet/dashboard/wallet_navigation.html.twig') }}
            <div class="mb-1">
                {{ include('account/wallet/dashboard/transaction/list/transactions.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block loadingSpinner %}
    {{ include('components/spinner/page-spinner.html.twig', {spinnerId: 'loadingPageSpinner'}) }}
{% endblock %}

{% block sidemenu %}
    <div class="flex items-center flex-col text-white mb-2 w-full">
        <span class="w-full text-sm text-white font-bold mb-2 text-center">Wallet</span>
        <twig:cva:BadgeNeonComponent
                color="accent-primary"
                size="sm"
                borderStyle="solid"
                label="{{ wallet.getMonth()|month_abbreviation }} {{ wallet.getYear() }}"
                title="{{ wallet.getMonth()|month_name }} {{ wallet.getYear() }}"
        />
    </div>

    <div class="border-b border-solid border-quaternary mb-2"></div>

    {{ include('account/wallet/dashboard/sideMenu/wallet_graphs.html.twig') }}
    {{ include('account/wallet/dashboard/sideMenu/wallet_summary.html.twig') }}
    {{ include('account/wallet/dashboard/sideMenu/wallet_calendar.html.twig') }}
    {{ include('account/wallet/dashboard/sideMenu/wallet_actions.html.twig') }}
    {{ include('account/wallet/dashboard/sideMenu/wallet_note.html.twig') }}

    {{ include('components/sideMenu/buttons.html.twig', {
        buttons: [
            {id: 'openWalletSideMenuSummaryModal', icon: 'fa-gauge', title: 'Summary information about the wallet', text: 'Summary'},
            {id: 'openWalletSideMenuGraphsModal', icon: 'fa-chart-simple', title: 'Graphic representation of the wallet', text: 'Graphics'},
            {id: 'openWalletSideMenuCalendarModal', icon: 'fa-calendar', title: 'Monthly calendar', text: 'Calendar'},
            {id: 'openWalletSideMenuActionsModal', icon: 'fa-screwdriver-wrench', title: 'Interact through actions on the wallet', text: 'Actions'},
            {id: 'openWalletSideMenuNoteModal', icon: 'fa-book', title: 'Notes', text: 'Notes'}
        ]
    }) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('account_wallet_dashboard') }}
    {{ encore_entry_script_tags('account_wallet_dashboard_transaction_list') }}
{% endblock %}
