{% extends 'base.html.twig' %}

{% block title %}{{ wallet.month|month_name }} {{ wallet.year }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('account_wallet_dashboard') }}
    {{ encore_entry_link_tags('account_wallet_dashboard_transaction_list') }}
{% endblock %}

{% block body %}
    <div id="account-wallet-dashboard-page" class="max-w-screen-xxl mx-auto hidden">
        {{ include('account/wallet/dashboard/part/_wallet_recap.html.twig') }}
        {{ include('account/wallet/dashboard/wallet_navigation.html.twig') }}
        {{ include('account/wallet/dashboard/transaction/list/transactions.html.twig') }}
    </div>
{% endblock %}

{% block loadingSpinner %}
    {{ include('components/spinner/page-spinner.html.twig', {spinnerId: 'loadingPageSpinner'}) }}
{% endblock %}

{% block sidemenu %}
    {{ include('account/wallet/dashboard/sideMenu/index.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('account_wallet_dashboard') }}
    {{ encore_entry_script_tags('account_wallet_dashboard_transaction_list') }}
{% endblock %}
