{% extends 'base.html.twig' %}

{% block title %}{{ wallet.month|month_name }} {{ wallet.year }} - {{ parent() }}{% endblock %}

{% set page_requires_monthly = true %}
{% set page_requires_transaction = true %}

{% block body %}
    <div id="wallet-dashboard-page" class="flex justify-center hidden">
        <div class="w-full p-4">
            <div class="mb-1">
                {{ include('account/wallet/partial/transaction/_transactions.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block loadingSpinner %}
    {{ include('components/spinner/page-spinner.html.twig', {spinnerId: 'loadingPageSpinner'}) }}
{% endblock %}

{% block sidemenu %}
    <span class="text-xs text-white text-center font-bold bg-accent rounded-md p-1.5 mb-2">Wallet: {{ wallet.getMonth()|month_name }} {{ wallet.getYear() }}</span>

    {{ include('account/wallet/dashboard/sideMenu/wallet_graphs.html.twig') }}
    {{ include('account/wallet/dashboard/sideMenu/wallet_information.html.twig') }}
    {{ include('account/wallet/dashboard/sideMenu/wallet_summary.html.twig') }}
    {{ include('account/wallet/dashboard/sideMenu/wallet_calendar.html.twig') }}
    {{ include('account/wallet/dashboard/sideMenu/wallet_actions.html.twig') }}
    {{ include('account/wallet/dashboard/sideMenu/wallet_note.html.twig') }}

    {{ include('components/sideMenu/buttons.html.twig', {
        buttons: [
            {id: 'openWalletSideMenuSummaryModal', icon: 'fa-gauge', title: 'Summary information about the wallet'},
            {id: 'openWalletSideMenuInformationModal', icon: 'fa-circle-info', title: 'Summary information about the wallet amounts'},
            {id: 'openWalletSideMenuGraphsModal', icon: 'fa-chart-simple', title: 'Graphic representation of the wallet'},
            {id: 'openWalletSideMenuCalendarModal', icon: 'fa-calendar', title: 'Monthly calendar'},
            {id: 'openWalletSideMenuActionsModal', icon: 'fa-screwdriver-wrench', title: 'Interact through actions on the wallet'},
            {id: 'openWalletSideMenuNoteModal', icon: 'fa-book', title: 'Notes'}
        ]
    }) }}
{% endblock %}
