{% extends 'base.html.twig' %}

{% block title %}Profile {{ parent() }}{% endblock %}

{% block body %}
    <div>
        <div class="bg-accent shadow-md rounded-md p-6 max-w-4xl mx-auto">
            <div class="flex items-center relative">
                <div class="w-24 h-24 rounded-full overflow-hidden relative group">
                    <a href="{{ path('settings_profile_edit') }}">
                        {% if app.user.userInformation and app.user.userInformation.avatarName %}
                            <img src="{{ asset('uploads/avatars/' ~ app.user.userInformation.avatarName) }}" alt="Avatar" class="w-full h-full rounded-full">
                        {% else %}
                            <img src="{{ asset('media/logo.png') }}" alt="Default Avatar" class="w-full h-full rounded-full">
                        {% endif %}
                    </a>

                    <a href="{{ path('settings_profile_edit') }}" class="absolute inset-0 bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 flex items-center justify-center transition-opacity duration-200">
                        <i class="fa-solid fa-pencil text-white text-2xl"></i>
                    </a>
                </div>
                <div class="ml-6">
                    {% if app.user.userInformation and app.user.userInformation.firstname and app.user.userInformation.lastname %}
                        <h1 class="text-xl font-bold text-gray-800">{{ app.user.userInformation.firstname }} {{ app.user.userInformation.lastname }}</h1>
                    {% else %}
                        <h1 class="text-xl font-bold text-gray-800">User</h1>
                    {% endif %}
                    <p class="text-gray-600">@{{ app.user.username }}</p>
                </div>
            </div>

            <div class="mt-6">
                <h2 class="text-xl font-semibold text-gray-800">Profile Information</h2>
                <div class="mt-4">
                    <div class="grid grid-cols-1 md:grid-cols-1 gap-6 mb-2">
                        <div class="bg-gray-50 p-4 rounded-md">
                            <h3 class="font-semibold text-gray-700">Bio</h3>
                            <p class="text-gray-800">{{ app.user.userInformation.bio ?? '-' }}</p>
                        </div>
                    </div>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                        <div class="bg-gray-50 p-4 rounded-md">
                            <h3 class="font-semibold text-gray-700">First Name</h3>
                            <p class="text-gray-800">{{ app.user.userInformation.firstname ?? '-' }}</p>
                        </div>
                        <div class="bg-gray-50 p-4 rounded-md">
                            <h3 class="font-semibold text-gray-700">Last Name</h3>
                            <p class="text-gray-800">{{ app.user.userInformation.lastname ?? '-' }}</p>
                        </div>
                        <div class="bg-gray-50 p-4 rounded-md">
                            <h3 class="font-semibold text-gray-700">Email</h3>
                            <p class="text-gray-800">{{ app.user.email }}</p>
                        </div>
                        <div class="bg-gray-50 p-4 rounded-md">
                            <h3 class="font-semibold text-gray-700">Username</h3>
                            <p class="text-gray-800">{{ app.user.username }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-6 flex justify-between">
                <div>
                    <a href="#" class="bg-primary hover:bg-primary-hover text-white font-bold py-2 px-4 rounded-md opacity-50 cursor-not-allowed" aria-disabled="true" title="Feature not available">
                        Edit password
                    </a>
                    <a href="{{ path('settings_profile_edit') }}" class="bg-primary hover:bg-primary-hover text-white font-bold py-2 px-4 rounded-md ml-2">
                        Edit profile
                    </a>
                    <a href="{{ path('app_logout') }}" class="bg-danger hover:bg-danger-hover text-white font-bold py-2 px-4 rounded-md ml-2">
                        Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
