{% extends 'base.html.twig' %}

{% block title %}Transaction Tags List - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('transaction_tag_list') }}
{% endblock %}

{% block body %}
    <div id="transaction-tag-list-page" class="hidden max-w-screen-xxl mx-auto">
        <div class="bg-secondary shadow-md rounded-md max-w-lg mx-auto mt-6 border border-quaternary border-solid">
            <div class="bg-tertiary text-center py-2 rounded-t-md border-b border-quaternary border-solid">
                <h1 class="text-sm font-bold text-white">Transaction Tags</h1>
            </div>
            <div class="p-4">
                <div>
                    {% for tag in transactionTags %}
                        <div class="p-4 rounded-md mb-2 bg-quaternary">
                            <div class="flex justify-between items-center">
                                <div class="rounded-md py-1 px-2" style="background-color: {{ tag.color }};">
                                    <span class="font-semibold text-white text-sm">#{{ tag.name }}</span>
                                </div>
                                <div class="space-x-2">
                                    <twig:Cta
                                        color="transparent"
                                        size="xs"
                                        icon="fa-pen-to-square"
                                        route="transaction_tag_edit"
                                        :routeParams="{id: tag.id}"
                                    />
                                    <twig:Cta
                                        color="transparent"
                                        size="xs"
                                        icon="fa-trash"
                                        dataActionUrl="true"
                                        route="transaction_tag_delete"
                                        :routeParams="{id: tag.id}"
                                        extraClasses="js-delete-transaction-tag-button"
                                    />
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="p-4 rounded-md bg-tertiary text-center border border-solid border-quaternary">
                            <span class="text-white">No transaction tags found.</span>
                        </div>
                    {% endfor %}
                </div>
                <div class="mt-4 flex justify-between">
                    <twig:Cta
                        color="quaternary"
                        size="xs"
                        icon="fa-arrow-left"
                        label="Back"
                        route="account_list"
                    />
                    <twig:Cta
                        color="accent-primary"
                        size="xs"
                        label="Create tag"
                        route="transaction_tag_new"
                    />
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block loadingSpinner %}
    {{ include('components/spinner/page-spinner.html.twig', {spinnerId: 'loadingPageSpinner'}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('transaction_tag_list') }}
{% endblock %}
