{% extends 'base.html.twig' %}

{% block title %}New Transaction Tag - {{ parent() }}{% endblock %}

{% set page_requires_transaction_tag_new = true %}

{% block body %}
    <div id="transaction-tag-new-page" class="hidden max-w-screen-xxl mx-auto">
        <div class="bg-senary shadow-md rounded-md max-w-lg mx-auto mt-6">
            <div class="bg-secondary text-center py-2 rounded-t-md">
                <h1 class="text-md font-bold text-white">Add a New Transaction Tag</h1>
            </div>

            <div class="p-6">
                {{ form_start(form) }}

                {% if form_errors(form) %}
                    <div class="mb-4 p-4 bg-red-100 text-danger rounded-md">
                        {{ form_errors(form) }}
                    </div>
                {% endif %}

                <div class="grid grid-cols-1 gap-1">
                    <div class="flex flex-col mb-2">
                        {{ form_label(form.name, null, {label_attr: {class: 'text-gray-700 font-semibold'}}) }}
                        {{ form_widget(form.name, {attr: {class: 'rounded-md shadow-sm p-2 border border-gray-300 focus:ring-primary focus:border-primary'}}) }}
                        {{ form_errors(form.name) }}
                    </div>

                    <div class="flex mb-2">
                        {{ form_widget(form.useDefaultColor, {attr: {class: 'h-4 w-4 rounded-md js-transaction-tag-use-default-color'}}) }}
                        {{ form_label(form.useDefaultColor, null, {label_attr: {class: 'ml-2 block text-sm'}}) }}
                        {{ form_errors(form.useDefaultColor) }}
                    </div>

                    <div id="js-transaction-tag-color-field" class="flex flex-col mb-2">
                        {{ form_label(form.color, null, {label_attr: {class: 'text-gray-700 font-semibold'}}) }}
                        {{ form_widget(form.color, {attr: {class: 'rounded-md p-0.5'}}) }}
                        {{ form_errors(form.color) }}
                    </div>
                </div>

                <div class="mt-4 flex justify-between">
                    <a href="{{ path('transaction_tag_list') }}" class="bg-primary hover:bg-primary-hover text-white font-bold py-2 px-4 rounded-md">
                        <i class="fa-solid fa-arrow-left mr-1"></i> Back
                    </a>
                    <button type="submit" class="bg-primary hover:bg-primary-hover text-white font-bold py-2 px-4 rounded-md">
                        Add Tag
                    </button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block loadingSpinner %}
    {{ include('components/spinner/page-spinner.html.twig', {spinnerId: 'loadingPageSpinner'}) }}
{% endblock %}
