<div class="p-1 rounded">
    <div id="monthlyBill">
        {# TODO: make the h2 as a cva ux twig component #}
        <h2 class="rounded-t text-center text-2xl font-bold p-2 bg-secondary text-white">{{ transactionCategory.type|capitalize }}</h2>

        <div class="flex bg-white">
            <div class="w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold">Date</span></div>
            <div class="w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold">Category</span></div>
            <div class="w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold">Actual</span></div>
            <div class="w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold">Actions</span></div>
        </div>

        {% for transactions in transactionCategory %}
            {% for transaction in transactions %}
                <div class="flex bg-white">
                    <div class="{{ loop.last ? 'rounded-bl' : '' }} w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold">{{ transaction.date|date('d M Y') }}</span></div>
                    <div class="w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold">{{ transaction.category }}</span></div>
                    <div class="{{ loop.last ? 'rounded-br' : '' }} w-full text-center border border-solid border-gray-300 p-2"><span>{{ transaction.amount }}</span></div>
                    <div class="w-full text-center border border-solid border-gray-300 p-2">
                        {#<a href="#" #}{#href="{{ path('transaction_edit', { 'year': transaction.budget.year, 'month': transaction.budget.month, 'id': transaction.id }) }}"#}{# class="text-center font-bold bg-secondary hover:bg-secondary-hover text-white p-2 cursor-pointer rounded mr-2">
                            <i class="fa-solid fa-pencil"></i>
                        </a>#}
                        <button type="button"
                                data-action-url="{{ path('transaction_delete', { 'year': transaction.budget.year, 'month': transaction.budget.month, 'id': transaction.id }) }}"
                                class="deleteButton text-center font-bold bg-danger hover:bg-danger-hover text-white p-2 cursor-pointer rounded">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>

                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="flex bg-white rounded-b">
                <div class="w-full text-center border border-solid border-gray-300 p-2"><span class="ont-bold">No {{ transactionCategory.type }}</span></div>
            </div>
        {% endfor %}
    </div>
    <div class="flex bg-white rounded-b">
        <div class="rounded-bl w-full text-center p-2 bg-primary"><span class="font-bold text-white">Total</span></div>
        <div class="rounded-br w-full text-center p-2"><span class="text-secondary font-bold">{{ budget.currency|currency_symbol }}</span> <span>{{ transactionCategory.total }}</span></div>
    </div>
</div>

{% include 'components/modal.html.twig' with { 'modalTitle': 'Confirm suppression', 'modalMessage': 'Are you sure you want to delete this transaction?'} %}

{% block javascripts %}
    {{ importmap('transaction_tab') }}
    {{ importmap('modal') }}
{% endblock %}
