{% if app.user %}
    <div class="flex items-center justify-between">
        <div>
            {{ include('components/topbar/menu/part/_user_dropdown.html.twig') }}
            <div id="js-user-dropdown-menu" class="hidden absolute right-4 mt-2 w-64 bg-secondary rounded-md z-99 border-solid border border-quaternary-ring">
                {{ include('components/topbar/menu/part/_user_information.html.twig') }}
                {{ include('components/topbar/menu/part/_main_buttons.html.twig') }}
                {{ include('components/topbar/menu/part/_menu_items.html.twig') }}
                {{ include('components/topbar/menu/part/_footer.html.twig') }}
            </div>
        </div>
    </div>
{% endif %}
