{% extends 'base.html.twig' %}

{% block title %}New transaction - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('account_wallet_dashboard_transaction_new') }}
    {{ encore_entry_link_tags('transaction_fields') }}
{% endblock %}

{% block body %}
    <div id="account-wallet-dashboard-transaction-new-page" class="hidden max-w-screen-xxl mx-auto">
        <div class="bg-secondary rounded-md max-w-lg mx-auto border-quaternary border-solid border">
            {{ include('transaction/partials/form/_title.html.twig', {
                title: 'Add a New Transaction',
            }) }}

            <div class="p-4">
                {{ form_start(form) }}

                {{ include('transaction/partials/form/_fields.html.twig') }}

                {{ include('transaction/partials/form/_action_buttons.html.twig', {
                    submit_label: 'Add Transaction',
                    cancel_label: 'Back',
                }) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block loadingSpinner %}
    {{ include('components/spinner/page-spinner.html.twig', {spinnerId: 'loadingPageSpinner'}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('account_wallet_dashboard_transaction_new') }}
    {{ encore_entry_script_tags('transaction_fields') }}
{% endblock %}
