{% extends 'base.html.twig' %}

{% block title %}New transaction - {{ parent() }}{% endblock %}

{% set page_requires_transaction_fields = true %}
{% set page_requires_account_wallet_dashboard_transaction_new = true %}

{% block body %}
    <div id="account-wallet-dashboard-transaction-new-page" class="hidden max-w-screen-xxl mx-auto">
        <div class="bg-senary shadow-md rounded-md max-w-lg mx-auto">
            {{ include('transaction/partials/form/_title.html.twig', {
                title: 'Add a New Transaction',
            }) }}

            <div class="p-4">
                {{ form_start(form) }}

                {{ include('transaction/partials/form/_fields.html.twig') }}

                {{ include('transaction/partials/form/_action_buttons.html.twig', {
                    submit_label: 'Add Transaction',
                    cancel_label: 'Back',
                }) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block loadingSpinner %}
    {{ include('components/spinner/page-spinner.html.twig', {spinnerId: 'loadingPageSpinner'}) }}
{% endblock %}
