{% extends 'base.html.twig' %}

{% block title %}Transaction Details - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('account_wallet_dashboard_transaction_show') }}
{% endblock %}

{% block body %}
    <div id="account-wallet-dashboard-transaction-show-page" class="hidden max-w-screen-xxl mx-auto">
        <div class="bg-secondary shadow-lg rounded-md max-w-lg mx-auto border border-quaternary border-solid">
            <div class="bg-tertiary text-white text-center py-2 rounded-t-md border-b border-quaternary border-solid">
                <h1 class="text-sm font-bold text-white">Transaction Details</h1>
            </div>
            <div class="bg-secondary rounded-b-md p-2 max-w-4xl mx-auto">
                <div class="p-4">
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-2 mb-2">
                        <div class="bg-secondary p-2 rounded-md border border-quaternary border-solid">
                            <h3 class="font-semibold text-white text-sm">Date</h3>
                            <p class="text-white text-sm">{{ transaction.date ? transaction.date|date('d M Y') : 'No Date' }}</p>
                        </div>
                        <div class="bg-secondary p-2 rounded-md border border-quaternary border-solid">
                            <h3 class="font-semibold text-white text-sm">Amount</h3>
                            <p class="text-white text-sm">{{ transaction.amount|number_format(2, '.', ' ') }} {{ wallet.currency.value|currency_symbol }}</p>
                        </div>
                        <div class="bg-secondary p-2 rounded-md border border-quaternary border-solid">
                            <h3 class="font-semibold text-white text-sm">Nature</h3>
                            <p class="text-white text-sm">{{ transaction.nature ?? 'Not specified' }}</p>
                        </div>
                    </div>
                    <div class="bg-secondary p-2 rounded-md border border-quaternary border-solid mb-2">
                        <h3 class="font-semibold text-white text-sm">Comment</h3>
                        <p class="text-white text-sm">{{ transaction.comment ?? '-' }}</p>
                    </div>
                    <div class="mb-4 bg-secondary rounded-md p-2 border border-quaternary border-solid">
                        <h3 class="font-semibold text-white text-sm">Tags</h3>
                        <div>
                            {% if transaction.tag|length > 0 %}
                                <div class="flex flex-wrap gap-2">
                                    {% for tag in transaction.tag %}
                                        <span class="inline-block px-2 py-1 rounded-md text-xs font-semibold text-white" style="background-color: {{ tag.color }};">
                                        {{ tag.name }}
                                    </span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <span class="text-white">-</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="mt-4 flex justify-between">
                        <twig:BackButton />
                        <twig:Cta
                            color="accent-primary"
                            size="xs"
                            label="Edit transaction"
                            route="edit_transaction_from_wallet"
                            :routeParams="{account: account.id, wallet: wallet.id, transaction: transaction.id}"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block loadingSpinner %}
    {{ include('components/spinner/page-spinner.html.twig', {spinnerId: 'loadingPageSpinner'}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('account_wallet_dashboard_transaction_show') }}
{% endblock %}
