<div class="border-t border-gray-200">
    <a href="{{ path('dashboard') }}" class="block px-4 py-2 text-sm text-white hover:bg-primary-hover hover:text-white">
        <i class="fa-solid fa-gauge mr-1"></i>Dashboard
    </a>
    <a href="{{ path('account_list') }}" class="block px-4 py-2 text-sm text-white hover:bg-primary-hover hover:text-white">
        <i class="fa-solid fa-money-bill mr-1"></i>My accounts
    </a>
    <a href="{{ path('account_new') }}" class="block px-4 py-2 text-sm text-white hover:bg-primary-hover hover:text-white">
        <i class="fa-solid fa-plus mr-1"></i>New account
    </a>
    <a href="{{ path('transaction_tag_list') }}" class="block px-4 py-2 text-sm text-white hover:bg-primary-hover hover:text-white">
        <i class="fa-solid fa-list mr-1"></i>Transaction tags list
    </a>
    <a href="{{ path('app_logout') }}" class="block px-4 py-2 text-sm text-white hover:bg-primary-hover hover:text-white">
        <i class="fa-solid fa-right-from-bracket mr-1"></i>Logout
    </a>
</div>
<div class="border-t border-gray-200 mt-2">
    <a href="#" class="block px-4 py-2 text-sm text-white hover:bg-primary-hover hover:text-white group">
        <i class="fa-solid fa-language mr-1"></i>
        Language: <span class="font-bold text-white group-hover:text-white">English</span>
    </a>
    <a href="{{ path('profile_settings') }}" class="block px-4 py-2 text-sm text-white hover:bg-primary-hover hover:text-white">
        <i class="fa-solid fa-screwdriver-wrench mr-1"></i>Settings
    </a>
    <a href="#" class="block px-4 py-2 text-sm text-white hover:bg-primary-hover hover:text-white">
        <i class="fa-solid fa-question mr-1"></i>Help
    </a>
</div>
