<div class="border-t border-solid border-quaternary mb-2">
    <a href="{{ path('dashboard') }}" class="block px-4 py-2 text-sm text-white hover:bg-secondary-hover">
        <i class="fa-solid fa-gauge mr-1 text-senary"></i>Dashboard
    </a>
    <a href="{{ path('profile_friendship') }}" class="block px-4 py-2 text-sm text-white hover:bg-secondary-hover">
        <i class="fa-solid fa-users mr-1 text-senary"></i>Friends
    </a>
    <a href="#" class="block px-4 py-2 text-sm text-white hover:bg-secondary-hover">
        <i class="fa-solid fa-message mr-1 text-senary"></i>Messenger
    </a>
    <a href="{{ path('account_list') }}" class="block px-4 py-2 text-sm text-white hover:bg-secondary-hover">
        <i class="fa-solid fa-money-bill mr-1 text-senary"></i>Account list
    </a>
    <a href="{{ path('account_new') }}" class="block px-4 py-2 text-sm text-white hover:bg-secondary-hover">
        <i class="fa-solid fa-plus mr-1 text-senary"></i>New account
    </a>
    <a href="#" class="block px-4 py-2 text-sm text-white hover:bg-secondary-hover">
        <i class="fa-solid fa-money-bill-transfer mr-1 text-senary"></i>Transfer money
    </a>
    <a href="{{ path('transaction_tag_list') }}" class="block px-4 py-2 text-sm text-white hover:bg-secondary-hover">
        <i class="fa-solid fa-list mr-1 text-senary"></i>Transaction tags list
    </a>
</div>
<div class="border-t border-solid border-quaternary mt-2">
    <a href="#" class="block px-4 py-2 text-sm text-white hover:bg-secondary-hover group">
        <i class="fa-solid fa-language mr-1 text-senary"></i>
        Language: <span class="font-bold text-white group-hover:text-white">English</span>
    </a>
    <a href="{{ path('profile_settings') }}" class="block px-4 py-2 text-sm text-white hover:bg-secondary-hover">
        <i class="fa-solid fa-screwdriver-wrench mr-1 text-senary"></i>Settings
    </a>
    <a href="#" class="block px-4 py-2 text-sm text-white hover:bg-secondary-hover">
        <i class="fa-solid fa-question mr-1 text-senary"></i>Help
    </a>

</div>

<div class="border-t border-solid border-quaternary mt-2">
    <a href="{{ path('app_logout') }}" class="block px-4 py-2 text-sm text-white hover:bg-secondary-hover">
        <i class="fa-solid fa-right-from-bracket mr-1 text-senary"></i>Logout
    </a>
</div>
