{% set calendarModalContent %}
    <div>
        <div class="w-full rounded-b-md p-2">
            <div class="mb-2 p-2 rounded-md border-solid border border-quaternary-ring">
                <div class="grid grid-cols-2 sm:grid-cols-3 gap-1">
                    {% set allMonths = 1..12 %}
                    {% for yearDto in walletsAndTransactionsFromYear %}
                        {% set monthNumbers = yearDto.getMonths()|map(m => m.getMonthNumber()) %}

                        {% for i in allMonths %}
                            {% if i in monthNumbers %}
                                {% for monthDto in yearDto.getMonths() %}
                                    {% if monthDto.getMonthNumber() == i %}
                                        <a href="{{ path('account_wallet_dashboard', {year: yearDto.getYear(), month: monthDto.getMonthNumber(), account: account.id, wallet: monthDto.getWalletId()}) }}"
                                           class="text-sm text-center font-bold py-2 px-4 rounded-md text-white
                                                {% if monthDto.getMonthNumber() == currentMonth and yearDto.getYear() == currentYear %}
                                                    bg-accent-primary hover:bg-accent-primary-hover text-center mb-1 border-solid border border-accent-primary-ring
                                                {% else %}
                                                    bg-quaternary hover:bg-quaternary-hover text-center mb-1 border-solid border border-quaternary-ring
                                                {% endif %}">
                                            {{ monthDto.getMonthName() }}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <a href="{{ path('account_wallet_add_quick_month', {account: account.getId(), yearId: yearDto.getYear(), monthId: i}) }}"
                                   class="text-sm text-center font-bold py-2 px-4 rounded-md border-dashed border border-quaternary hover:bg-primary-hover text-white">
                                    {{ i|month_name }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endset %}

{{ include('components/rightSideMenu/rightSideMenu.html.twig', {
    rightSideMenuId: 'js-wallet-side-menu-calendar',
    rightSideMenuTitle: 'Calendar',
    rightSideMenuContent: calendarModalContent,
    rightSideMenuCloseButtonId: 'js-right-side-menu-wallet-calendar-close-button'
}) }}
