<div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
    <div class="flex flex-col mb-2">
        {{ form_label(form.nature, 'Nature', {label_attr: {class: 'text-gray-700 font-semibold'}}) }}
        {{ form_widget(form.nature, {attr: {class: 'rounded-md shadow-sm p-2 border border-gray-300 focus:ring-primary focus:border-primary'}}) }}
        <div class="text-danger text-sm">{{ form_errors(form.nature) }}</div>
    </div>

    <div class="flex flex-col mb-2">
        {{ form_label(form.date, 'Day', {label_attr: {class: 'text-gray-700 font-semibold'}}) }}
        {{ form_widget(form.date) }}
        <div class="text-danger text-sm">{{ form_errors(form.date) }}</div>
    </div>

    <div class="flex flex-col mb-2">
        {{ form_label(form.amount, 'Amount', {label_attr: {class: 'text-gray-700 font-semibold'}}) }}
        {{ form_widget(form.amount, {attr: {class: 'rounded-md shadow-sm p-2'}}) }}
        <div class="text-danger text-sm">{{ form_errors(form.amount) }}</div>
    </div>

    <div id="js-container-budget-and-checkbox" class="flex flex-col mb-2 space-y-2">
        <div id="js-container-budget" class="flex flex-col mb-2">
            {{ form_label(form.budget, 'Budgeted Amount', {label_attr: {class: 'text-gray-700 font-semibold'}}) }}
            {{ form_widget(form.budget, {attr: {class: 'rounded-md shadow-sm p-2'}}) }}
            <div class="text-danger text-sm">{{ form_errors(form.budget) }}</div>
        </div>

        {% if form.budgetDefinedTroughAmount is defined %}
            <div class="flex items-center space-x-2">
                {{ form_widget(form.budgetDefinedTroughAmount, {attr: {class: 'rounded-md shadow-sm'}}) }}
                {{ form_label(form.budgetDefinedTroughAmount, 'Use amount as budget', {label_attr: {class: 'text-gray-700 font-semibold'}}) }}
            </div>
            <div class="text-danger text-sm">{{ form_errors(form.budgetDefinedTroughAmount) }}</div>
        {% endif %}
    </div>

    <div class="flex flex-col mb-2">
        {{ form_label(form.transactionCategory, 'Transaction Category', {label_attr: {class: 'text-gray-700 font-semibold'}}) }}
        {{ form_widget(form.transactionCategory, {attr: {id: 'transaction_for_wallet_transactionCategory'}}) }}
        <div class="text-danger text-sm">{{ form_errors(form.transactionCategory) }}</div>
    </div>

    <div class="flex flex-col mb-2">
        {{ form_label(form.tag, 'Tags', {label_attr: {class: 'text-gray-700 font-semibold'}}) }}
        {{ form_widget(form.tag) }}
        <div class="text-danger text-sm">{{ form_errors(form.tag) }}</div>
    </div>

    <div class="flex items-center mb-2">
        {{ form_widget(form.highlight, {attr: {class: 'mr-2'}}) }}
        {{ form_label(form.highlight, null, {label_attr: {class: 'text-gray-700 font-semibold'}}) }}
        <div class="text-danger text-sm">{{ form_errors(form.highlight) }}</div>
    </div>
</div>
