{% set summaryModalContent %}
    {{ include('account/wallet/dashboard/sideMenu/walletSummary/part/_wallet_summary_recap.html.twig') }}

    <div id="monthly-summary" class="border border-solid border-quaternary rounded-md mb-2">
        <div class="border-b border-solid border-quaternary">
            <h2 class="rounded-t-md text-center text-sm font-bold p-2 bg-tertiary text-white">Overview</h2>
        </div>
        <div class="flex flex-col md:flex-row bg-secondary hover:bg-secondary-hover border-b border-solid border-quaternary">
            <div class="w-full text-center p-2">
                <span class="font-bold text-xs text-white">Month</span>
            </div>
            <div class="w-full text-center p-2">
                <span class="text-xs text-white">{{ wallet.getMonth()|month_name }} {{ wallet.getYear() }}</span>
            </div>
        </div>
        <div class="flex flex-col md:flex-row bg-secondary hover:bg-secondary-hover border-b border-solid border-quaternary">
            <div class="w-full text-center p-2">
                <span class="font-bold text-xs text-white">Currency</span>
            </div>
            <div class="w-full text-center p-2">
                <span class="text-xs text-white">{{ wallet.currency.value|currency_symbol }}</span>
            </div>
        </div>
        <div class="flex flex-col md:flex-row bg-secondary hover:bg-secondary-hover border-b border-solid border-quaternary">
            <div class="w-full text-center p-2">
                <span class="font-bold text-xs text-white">Start Date</span>
            </div>
            <div class="w-full text-center p-2">
                <span class="text-xs text-white">{{ wallet.startDate|date('d M Y') }}</span>
            </div>
        </div>
        <div class="flex flex-col md:flex-row bg-secondary hover:bg-secondary-hover border-b border-solid border-quaternary">
            <div class="w-full text-center p-2">
                <span class="font-bold text-xs text-white">End Date</span>
            </div>
            <div class="w-full text-center p-2">
                <span class="text-xs text-white">{{ wallet.endDate|date('d M Y') }}</span>
            </div>
        </div>
        <div class="flex flex-col md:flex-row bg-secondary rounded-md">
            <div class="w-full text-center p-2">
                <span class="font-bold text-xs text-white">Start Balance</span>
            </div>
            <div class="w-full text-center p-2">
                <span class="text-xs">
                    <span class="font-bold text-xs text-white">{{ wallet.currency.value|currency_symbol }}</span>
                    <span class="text-xs text-white">{{ wallet.startBalance|number_format(2, '.', ' ') }}</span>
                </span>
            </div>
        </div>
    </div>

    <div id="cash-flow" class="border border-solid border-quaternary rounded-md mb-2">
        <h2 class="rounded-t-md text-center text-sm font-bold p-2 bg-tertiary text-white border-b border-solid border-quaternary">Cash Flow</h2>
        <div class="flex flex-col md:flex-row bg-secondary hover:bg-secondary-hover border-b border-solid border-quaternary">
            <div class="w-full text-center p-2">
                <span class="font-bold text-xs text-white">Start Balance</span>
            </div>
            <div class="w-full text-center p-2">
                <span class="font-bold text-success text-xs mr-1">+</span>
                <span class="text-xs text-white">{{ wallet.startBalance|number_format(2, '.', ' ') }}</span>
            </div>
        </div>
        <div class="flex flex-col md:flex-row bg-secondary hover:bg-secondary-hover border-b border-solid border-quaternary">
            <div class="w-full text-center p-2"><span class="font-bold text-xs text-white">Incomes</span></div>
            <div class="w-full text-center p-2"><span class="font-bold text-success text-xs mr-1">+</span><span class="text-xs text-white">{{ totalIncomes|number_format(2, '.', ' ') }}</span></div>
        </div>
        <div class="flex flex-col md:flex-row bg-secondary hover:bg-secondary-hover border-b border-solid border-quaternary">
            <div class="w-full text-center p-2">
                <span class="font-bold text-xs text-white">Bills</span>
            </div>
            <div class="w-full text-center p-2">
                <span class="font-bold text-danger text-xs mr-1">-</span>
                <span class="text-xs text-white">{{ totalBills|number_format(2, '.', ' ') }}</span>
            </div>
        </div>
        <div class="flex flex-col md:flex-row bg-secondary hover:bg-secondary-hover border-b border-solid border-quaternary">
            <div class="w-full text-center p-2">
                <span class="font-bold text-xs text-white">Expenses</span>
            </div>
            <div class="w-full text-center p-2">
                <span class="font-bold text-danger text-xs mr-1">-</span>
                <span class="text-xs text-white">{{ totalExpenses|number_format(2, '.', ' ') }}</span>
            </div>
        </div>
        <div class="flex flex-col md:flex-row bg-secondary hover:bg-secondary-hover border-b border-solid border-quaternary">
            <div class="rounded-bl-md w-full text-center p-2"><span class="font-bold text-xs text-white">Debts</span></div>
            <div class="rounded-br-md w-full text-center p-2">
                <span class="font-bold text-danger text-xs mr-1">-</span>
                <span class="text-xs text-white">{{ totalDebts|number_format(2, '.', ' ') }}</span>
            </div>
        </div>
        <div class="flex flex-col md:flex-row bg-secondary hover:bg-secondary-hover border-b border-solid border-quaternary">
            <div class="w-full text-center p-2"><span class="font-bold text-white text-xs">Total incomes</span></div>
            <div class="w-full text-center p-2">
                <div class="bg-tertiary rounded-md border border-solid border-quaternary">
                    <span class="font-bold text-xs text-white">{{ wallet.currency.value|currency_symbol }}</span>
                    <span class="text-white text-xs">{{ totalIncomesAndStartingBalance|number_format(2, '.', ' ') }}</span>
                </div>
            </div>
        </div>

        {% set formattedTotalSpending = totalSpending|number_format(2, '.', ' ') %}
        {% set formattedSpendingLimit = wallet.spendingLimit is not null ? wallet.spendingLimit|number_format(2, '.', ' ') : null %}
        {% set isOverLimit = wallet.spendingLimit is not null and totalSpending > wallet.spendingLimit %}
        <div class="flex flex-col md:flex-row {{ isOverLimit ? 'bg-danger hover:bg-danger-hover' : 'bg-secondary hover:bg-secondary-hover' }} border-b border-solid border-quaternary">
            <div class="w-full text-center p-2">
                <span class="font-bold text-white text-xs">Total spending</span>
            </div>
            <div class="w-full text-center p-2">
                <div class="bg-tertiary rounded-md border border-solid border-quaternary">
                    <span class="font-bold text-xs text-white">{{ wallet.currency.value|currency_symbol }}</span>
                    <span class="text-white text-xs">{{ formattedTotalSpending }}</span>
                </div>
            </div>
        </div>
        <div class="flex flex-col md:flex-row border-b border-solid border-quaternary {{ totalBudget < 0 ? 'bg-danger hover:bg-danger-hover' : 'bg-secondary hover:bg-secondary-hover' }}">
            <div class="w-full text-center p-2">
                <span class="font-bold text-white text-xs">Total budget</span>
            </div>
            <div class="w-full text-center p-2">
                <div class="bg-tertiary rounded-md border border-solid border-quaternary">
                    <span class="font-bold text-white text-xs">{{ wallet.currency.value|currency_symbol }}</span>
                    <span class="text-white text-xs">{{ totalBudget|number_format(2, '.', ' ') }}</span>
                </div>
            </div>
        </div>
        <div class="flex flex-col md:flex-row rounded-b-md {{ totalLeftToSpend < 0 ? 'bg-danger hover:bg-danger-hover' : 'bg-secondary hover:bg-secondary-hover' }}">
            <div class="rounded-bl-md w-full text-center p-2">
                <span class="font-bold text-white text-xs">Total left to spend</span>
            </div>
            <div class="rounded-br-md w-full text-center p-2">
                <div class="bg-tertiary rounded-md border border-solid border-quaternary">
                    <span class="font-bold text-xs text-white">{{ wallet.currency.value|currency_symbol }}</span>
                    <span class="text-white text-xs">{{ totalLeftToSpend|number_format(2, '.', ' ') }}</span>
                </div>
            </div>
        </div>
    </div>
{% endset %}

{{ include('components/sideMenu/modal.html.twig', {
    modalId: 'walletSideMenuSummaryModal',
    modalTitle: 'Wallet Summary',
    modalContent: summaryModalContent,
    closeModalId: 'closeWalletSideMenuSummaryModal'
}) }}
