<div class="bg-primary py-2 px-4 flex items-center justify-between">
    <div class="flex items-center space-x-2">
        {{ include('components/topbar/burger_menu/burger_menu.html.twig') }}
        {{ include('components/topbar/logo/logo.html.twig') }}
    </div>
    <div class="flex items-center space-x-2">
        {{ include('components/topbar/messenger/messenger.html.twig') }}
        {{ include('components/topbar/notifications/notifications.html.twig') }}
        {{ include('components/topbar/menu/menu.html.twig') }}
    </div>
</div>
