{% extends 'base_no_topbar.html.twig' %}

{% block title %}S'enregistrer - {{ parent() }}{% endblock %}

{% block body %}
    <div class="min-h-screen flex flex-col items-center justify-center">
        <h1 class="text-xl font-bold text-center text-white mb-4">Register to Penny Wise</h1>
        <div class="bg-tertiary p-8 rounded-md shadow-lg w-full max-w-md">

            {{ form_start(registrationForm) }}

            <div class="space-y-2">
                <div class="grid grid-cols-1 gap-2">
                    <div>
                        {{ form_label(registrationForm.email, null, {label_attr: {class: 'block text-white'}}) }}
                        {{ form_widget(registrationForm.email, {attr: {class: 'w-full p-3 bg-secondary border-quaternary border-solid border rounded-md text-white'}}) }}
                        <div class="text-danger text-sm mt-1">
                            {{ form_errors(registrationForm.email) }}
                        </div>
                    </div>

                    <div>
                        {{ form_label(registrationForm.username, null, {label_attr: {class: 'block text-white'}}) }}
                        {{ form_widget(registrationForm.username, {attr: {class: 'w-full p-3 bg-secondary border-quaternary border-solid border rounded-md text-white'}}) }}
                        <div class="text-danger text-sm mt-1">
                            {{ form_errors(registrationForm.username) }}
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-1 gap-2">
                    <div>
                        {{ form_label(registrationForm.plainPassword.first, null, {label_attr: {class: 'block text-white'}}) }}
                        {{ form_widget(registrationForm.plainPassword.first, {attr: {class: 'w-full p-3 bg-secondary border-quaternary border-solid border rounded-md text-white'}}) }}
                        <div class="text-danger text-sm mt-1">
                            {{ form_errors(registrationForm.plainPassword.first) }}
                        </div>
                    </div>

                    <div>
                        {{ form_label(registrationForm.plainPassword.second, null, {label_attr: {class: 'block text-white'}}) }}
                        {{ form_widget(registrationForm.plainPassword.second, {attr: {class: 'w-full p-3 bg-secondary border-quaternary border-solid border rounded-md text-white'}}) }}
                        <div class="text-danger text-sm mt-1">
                            {{ form_errors(registrationForm.plainPassword.second) }}
                        </div>
                    </div>
                </div>
                <div class="flex items-center">
                    {{ form_widget(registrationForm.agreeTerms, {attr: {class: 'h-4 w-4 bg-secondary border-quaternary border-solid border rounded-md'}}) }}
                    {{ form_label(registrationForm.agreeTerms, null, {label_attr: {class: 'ml-2 block text-sm text-link'}}) }}
                    <div class="text-danger text-sm mt-1">
                        {{ form_errors(registrationForm.agreeTerms) }}
                    </div>
                </div>
                <div class="mt-6">
                    <twig:Cta
                        color="accent-primary"
                        size="xs"
                        label="Register"
                        buttonType="submit"
                        fullWidth="true"
                        extraClasses="p-3"
                    />
                </div>
            </div>

            <div class="mt-4 flex justify-end">
                <a href="{{ path('app_login') }}" class="text-sm text-link hover:underline">Already have an account? Login</a>
            </div>

            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
