{% extends 'base.html.twig' %}

{% block title %}Account list - {{ parent() }}{% endblock %}

{% set page_requires_account_list = true %}

{% block body %}
    <div id="account-list-page" class="hidden max-w-screen-xxl mx-auto">
        <div>
            <div class="{{ accounts is not empty ? '' : 'flex justify-center items-center' }}">
                {% if accounts is not empty %}
                    {{ include('accountList/part/_list.html.twig', {accounts: accounts}) }}
                {% else %}
                    {{ include('accountList/part/_welcome.html.twig') }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block loadingSpinner %}
    {{ include('components/spinner/page-spinner.html.twig', {spinnerId: 'loadingPageSpinner'}) }}
{% endblock %}

{% block sidemenu %}
    {{ include('accountList/sideMenu/test.html.twig') }}

    {{ include('components/sideMenu/buttons.html.twig', {
        buttons: [
            {id: 'openAccountListSideMenuTestModal', icon: 'fa-book', title: 'Test', text: 'Test'}
        ]
    }) }}
{% endblock %}
