{% extends 'base.html.twig' %}

{% block title %}Account list - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('account_list') }}
{% endblock %}

{% block body %}
    <div id="account-list-page" class="hidden max-w-screen-xxl mx-auto {{ accounts is empty ? 'flex justify-center' }}">
        {% if accounts is not empty %}
            {{ include('accountList/part/_list.html.twig', {accounts: accounts}) }}
        {% else %}
            {{ include('accountList/part/_welcome.html.twig') }}
        {% endif %}
    </div>
{% endblock %}

{% block loadingSpinner %}
    {{ include('components/spinner/page-spinner.html.twig', {spinnerId: 'loadingPageSpinner'}) }}
{% endblock %}

{% block sidemenu %}
    {{ include('accountList/sideMenu/index.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('account_list') }}
{% endblock %}
