{% extends 'base.html.twig' %}

{% block title %}New transaction - {{ parent() }}{% endblock %}

{% set page_requires_transaction_fields = true %}

{% block body %}
    <div>
        <div class="bg-accent shadow-md rounded-md max-w-lg mx-auto">
            {{ include('transaction/partials/form/_title.html.twig', {
                title: 'Add a New Transaction',
            }) }}

            <div class="p-4">
                <div class="mb-4">
                    <div class="bg-warning rounded-md text-white px-4 py-3" role="alert">
                        <p class="font-bold">Informational message</p>
                        <p class="text-sm">This creation is related to the wallet of <span class="font-bold">{{ wallet.month|month_name }} {{ wallet.year }}</span>.</p>
                    </div>
                </div>

                {{ form_start(form) }}

                {{ include('transaction/partials/form/_fields.html.twig') }}

                {{ include('transaction/partials/form/_action_buttons.html.twig', {
                    transaction: transaction,
                    submit_label: 'Add Transaction',
                    cancel_label: 'Back',
                }) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
