<div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4">
    <div>
        <div class="p-1 rounded mb-4">
            <div id="monthlyMonth">
                <div class="text-center bg-secondary rounded-t">
                    <h2 class="text-xl font-bold p-2 text-white">{{ budget.getMonth()|month_name }} {{ budget.getYear() }}</h2>
                </div>
                <div class="w-full bg-secondary rounded-b p-2 bg-white">
                    <div class="grid grid-cols-2 sm:grid-cols-3 gap-2">
                    {% for month in budgetsAndTransactionsFromYear.getMonths() %}
                        <a href="{{ path('monthly_budget', {year: budget.getYear(), month: month.getMonthNumber()}) }}" class="text-sm text-center font-bold py-2 px-4 rounded
                            {{ month.getMonthNumber() == currentMonth ? 'bg-primary text-white hover:bg-primary-hover' : 'bg-secondary text-white hover:bg-secondary-hover' }}">
                            {{ month.getMonthName() }}
                        </a>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="p-1 rounded mb-4">
            <div>
                <div class="text-center bg-secondary rounded-t">
                    <h2 class="text-xl font-bold p-2 text-white">Actions</h2>
                </div>

                <div class="w-full bg-secondary rounded-b p-2 bg-white">
                    <div class="grid grid-cols-2 sm:grid-cols-2 gap-2">
                        <a href="{{ path('transaction_new_for_budget', {year: currentYear, month: currentMonth}) }}" class="text-center font-bold bg-secondary hover:bg-secondary-hover text-white p-2 cursor-pointer rounded">
                            <i class="fa-solid fa-plus mr-1"></i>
                            Transaction
                        </a>
                        <a href="{{ path('budget_new') }}" class="text-center font-bold bg-secondary hover:bg-secondary-hover text-white p-2 cursor-pointer rounded">
                            <i class="fa-solid fa-plus mr-1"></i>
                            Budget
                        </a>
                        <a href="#" class="text-center font-bold bg-secondary hover:bg-secondary-hover text-white p-2 cursor-pointer rounded">
                            <i class="fa-solid fa-pen-to-square mr-1"></i>
                            Budget
                        </a>
                        <button type="button"
                                data-action-url="{{ path('copy_left_to_spend', {year: currentYear, month: currentMonth}) }}"
                                class="js-copy-left-to-spend-button text-center font-bold bg-secondary hover:bg-secondary-hover text-white p-2 cursor-pointer rounded">
                            <i class="fa-solid fa-forward mr-1"></i>
                            Initialize starting balance
                        </button>
                        <button type="button"
                                data-action-url="{{ path('create_previous_month_budget', {year: currentYear, month: currentMonth}) }}"
                                class="js-create-previous-budget-button text-center font-bold bg-success hover:bg-success-hover text-white p-2 cursor-pointer rounded">
                            <i class="fa-solid fa-plus mr-1"></i>
                            Create previous month's budget
                        </button>
                        <button type="button"
                                data-action-url="{{ path('create_next_month_budget', {year: currentYear, month: currentMonth}) }}"
                                class="js-create-next-budget-button text-center font-bold bg-success hover:bg-success-hover text-white p-2 cursor-pointer rounded">
                            <i class="fa-solid fa-plus mr-1"></i>
                            Create next month's budget
                        </button>
                        <button type="button"
                                data-action-url="{{ path('copy_previous_month_bills', {year: currentYear, month: currentMonth}) }}"
                                class="js-copy-bills-button text-center font-bold bg-warning hover:bg-warning-hover text-white p-2 cursor-pointer rounded">
                            <i class="fa-solid fa-copy mr-1"></i>
                            Copy previous month's transaction bills
                        </button>
                        <button type="button"
                                data-action-url="{{ path('copy_previous_month_expenses', {year: currentYear, month: currentMonth}) }}"
                                class="js-copy-expenses-button text-center font-bold bg-warning hover:bg-warning-hover text-white p-2 cursor-pointer rounded">
                            <i class="fa-solid fa-copy mr-1"></i>
                            Copy previous month's transaction expenses
                        </button>
                        <button type="button"
                                data-action-url="{{ path('delete_monthly_budget', {year: currentYear, month: currentMonth}) }}"
                                class="js-delete-budget-button text-center font-bold bg-danger hover:bg-danger-hover text-white p-2 cursor-pointer rounded">
                            <i class="fa-solid fa-copy mr-1"></i>
                            Delete month's budget and transactions
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="p-1 rounded mb-4">
            <div id="monthlyOverview">
                <h2 class="rounded-t text-center text-xl font-bold p-2 bg-secondary text-white">Overview</h2>
                <div class="flex flex-col md:flex-row bg-white">
                    <div class="w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold">Currency</span></div>
                    <div class="w-full text-center border border-solid border-gray-300 p-2"><span>{{ budget.currency|currency_symbol }}</span></div>
                </div>
                <div class="flex flex-col md:flex-row bg-white">
                    <div class="w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold">Start Date</span></div>
                    <div class="w-full text-center border border-solid border-gray-300 p-2"><span>{{ budget.startDate|date('d M Y') }}</span></div>
                </div>
                <div class="flex flex-col md:flex-row bg-white">
                    <div class="w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold">End Date</span></div>
                    <div class="w-full text-center border border-solid border-gray-300 p-2"><span>{{ budget.endDate|date('d M Y') }}</span></div>
                </div>
                <div class="flex flex-col md:flex-row bg-white rounded-b">
                    <div class="rounded-bl w-full text-center bg-primary p-2"><span class="font-bold text-white">Start Balance</span></div>
                    <div class="rounded-br w-full text-center border border-solid border-gray-300 p-2"><span><span class="font-bold text-xl text-secondary">{{ budget.currency|currency_symbol }}</span> {{ budget.startBalance|number_format(2, '.', ' ') }}</span></div>
                </div>
            </div>
        </div>

        <div class="p-1 rounded mb-4">
            <div id="monthlyOverview">
                <h2 class="rounded-t text-center font-bold p-2 bg-secondary text-white">
                    <span class="font-bold text-xl text-white">Spending limit</span>
                    {% if budget.spendingLimit is not null and totalSpending|number_format(2, '.', ' ') > budget.spendingLimit|number_format(2, '.', ' ') %}
                        <span class="bg-danger text-white rounded p-1 ml-2">Exceeded (<span class="font-bold text-xl text-secondary text-white">{{ budget.currency|currency_symbol }}</span> {{ totalSpending|number_format(2, '.', ' ') - budget.spendingLimit|number_format(2, '.', ' ') }})</span>
                    {% endif %}
                </h2>
                <div class="flex flex-col md:flex-row bg-white">
                    <div class="w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold text-xl text-secondary">{{ budget.currency|currency_symbol }}</span><span class="font-bold">{{ budget.spendingLimit|number_format(2, '.', ' ') }}</span></div>
                </div>
            </div>
        </div>

        <div class="p-1 rounded">
            <div id="monthlyOverview">
                <h2 class="rounded-t text-center text-xl font-bold p-2 bg-secondary text-white">Cash Flow</h2>
                <div class="flex flex-col md:flex-row bg-white">
                    <div class="w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold">Start Balance</span></div>
                    <div class="w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold text-secondary mr-1">+</span><span>{{ budget.startBalance|number_format(2, '.', ' ') }}</span></div>
                </div>
                <div class="flex flex-col md:flex-row bg-white">
                    <div class="w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold">Incomes</span></div>
                    <div class="w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold text-secondary mr-1">+</span><span>{{ totalIncomes|number_format(2, '.', ' ') }}</span></div>
                </div>
                <div class="flex flex-col md:flex-row bg-white">
                    <div class="w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold">Bills</span></div>
                    <div class="w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold text-danger mr-1">-</span><span>{{ totalBills|number_format(2, '.', ' ') }}</span></div>
                </div>
                <div class="flex flex-col md:flex-row bg-white">
                    <div class="w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold">Expenses</span></div>
                    <div class="w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold text-danger mr-1">-</span><span>{{ totalExpenses|number_format(2, '.', ' ') }}</span></div>
                </div>
                <div class="flex flex-col md:flex-row bg-white">
                    <div class="rounded-bl w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold">Debts</span></div>
                    <div class="rounded-br w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold text-danger mr-1">-</span><span>{{ totalDebts|number_format(2, '.', ' ') }}</span></div>
                </div>
                <div class="flex flex-col md:flex-row bg-white rounded-b">
                    <div class="w-full text-center p-2 bg-secondary"><span class="font-bold text-white">Total incomes</span></div>
                    <div class="w-full text-center border-l border-solid border-gray-300 p-2 bg-secondary"><span class="font-bold text-xl text-white">{{ budget.currency|currency_symbol }}</span><span class="text-white">{{ totalIncomesAndStartingBalance|number_format(2, '.', ' ') }}</span></div>
                </div>
                <div class="flex flex-col md:flex-row bg-white rounded-b">
                    <div class="w-full text-center p-2 {{ budget.spendingLimit is not null and totalSpending|number_format(2, '.', ' ') > budget.spendingLimit|number_format(2, '.', ' ') ? 'bg-danger' : 'bg-primary' }}"><span class="font-bold text-white">Total spending</span></div>
                    <div class="w-full text-center border-l border-solid border-gray-300 p-2 {{ budget.spendingLimit is not null and totalSpending|number_format(2, '.', ' ') > budget.spendingLimit|number_format(2, '.', ' ') ? 'bg-danger' : 'bg-primary' }}"><span class="font-bold text-xl text-white">{{ budget.currency|currency_symbol }}</span><span class="text-white">{{ totalSpending|number_format(2, '.', ' ') }}</span></div>
                </div>
                <div class="flex flex-col md:flex-row bg-white rounded-b">
                    <div class="rounded-bl w-full text-center p-2 {{ totalRemaining < 0 ? 'bg-danger' : 'bg-success' }}"><span class="font-bold text-white">Left</span></div>
                    <div class="rounded-br w-full text-center p-2 border-l border-solid border-gray-300 {{ totalRemaining < 0 ? 'bg-danger' : 'bg-success' }}"><span class="font-bold text-xl text-white">{{ budget.currency|currency_symbol }}</span>
                        <span class="text-white">{{ totalRemaining|number_format(2, '.', ' ') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="p-1 rounded mb-4">
            <div>
                <div class="text-center bg-secondary rounded-t">
                    <h2 class="text-xl font-bold p-2 text-white">Links</h2>
                </div>

                <div class="w-full bg-secondary rounded-b p-2 bg-white">
                    <div class="grid grid-cols-2 sm:grid-cols-3 gap-2">
                        {% for link in userLinks %}
                            <a target="_blank" href="{{ link.url }}" class="text-center font-bold bg-secondary hover:bg-secondary-hover text-white p-2 cursor-pointer rounded">
                                {{ link.name }}
                            </a>
                        {% else %}
                            <div class="flex bg-white rounded-b">
                                <div class="w-full text-center p-2 bg-white rounded-b"><span class="font-bold text-primary">No links</span></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <div class="p-1 rounded">
                <div class="text-center bg-secondary p-2 rounded-t">
                    <h2 class="text-xl font-bold text-white">Total monthly spending</h2>
                </div>
                <div class="pb-4 bg-white rounded-b">
                    {{ render_chart(totalSpendingForCurrentAndPreviousNthMonthsChart) }}
                </div>
            </div>
            <div class="p-1 rounded">
                <div class="text-center bg-secondary p-2 rounded-t">
                    <h2 class="text-xl font-bold text-white">Total yearly spending</h2>
                </div>
                <div class="pb-4 bg-white rounded-b">
                    {{ render_chart(totalSpendingYearsChart) }}
                </div>
            </div>
            <div class="p-1 rounded">
                <div class="text-center bg-secondary p-2 rounded-t">
                    <h2 class="text-xl font-bold text-white">Left to spend</h2>
                </div>
                <div class="pb-4 bg-white rounded-b">
                    {% if leftToSpendChart.data.isDataPresent is same as true %}
                        {{ render_chart(leftToSpendChart) }}
                    {% else %}
                        <div class="flex bg-white rounded-b">
                            <div class="w-full text-center p-2 bg-white rounded-b"><span class="font-bold text-primary">No data</span></div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    {{ importmap('monthly_budget') }}
{% endblock %}
