<div class="grid grid-cols-4 gap-4">
    <div>
        <div class="p-1 rounded bg-primary mb-4">
            <div id="monthlyMonth">
                <div class="text-center bg-secondary rounded-t">
                    <h2 class="text-2xl font-bold p-2 text-white">{{ budget.month|month_name }}</h2>
                </div>
                <div class="w-full bg-secondary rounded-b">
                    <div class="w-full bg-white p-2 rounded-b text-center font-bold"><span>Budget dashboard</span></div>
                </div>
            </div>
        </div>

        <div class="p-1 rounded bg-primary mb-4">
            <div id="monthlyOverview">
                <h2 class="rounded-t text-center text-2xl font-bold p-2 bg-secondary text-white">Overview</h2>
                <div class="flex bg-white">
                    <div class="w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold">Currency</span></div>
                    <div class="w-full text-center border border-solid border-gray-300 p-2"><span>{{ budget.currency|currency_symbol }}</span></div>
                </div>
                <div class="flex bg-white">
                    <div class="w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold">Start Date</span></div>
                    <div class="w-full text-center border border-solid border-gray-300 p-2"><span>{{ budget.startDate|date('d M Y') }}</span></div>
                </div>
                <div class="flex bg-white">
                    <div class="w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold">End Date</span></div>
                    <div class="w-full text-center border border-solid border-gray-300 p-2"><span>{{ budget.endDate|date('d M Y') }}</span></div>
                </div>
                <div class="flex bg-white rounded-b">
                    <div class="rounded-bl w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold">Start Balance</span></div>
                    <div class="rounded-br w-full text-center border border-solid border-gray-300 p-2"><span><span class="font-bold text-xl text-secondary">{{ budget.currency|currency_symbol }}</span> {{ budget.startBalance }}</span></div>
                </div>
            </div>
        </div>

        <div class="p-1 rounded bg-primary">
            <div id="monthlyOverview">
                <h2 class="rounded-t text-center text-2xl font-bold p-2 bg-secondary text-white">Cash Flow</h2>
                <div class="flex bg-white">
                    <div class="w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold">Start Balance</span></div>
                    <div class="w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold text-secondary mr-1">+</span><span>{{ budget.startBalance }}</span></div>
                </div>
                <div class="flex bg-white">
                    <div class="w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold">Incomes</span></div>
                    <div class="w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold text-secondary mr-1">+</span><span>{{ transactions.incomes.total }}</span></div>
                </div>
                <div class="flex bg-white">
                    <div class="w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold">Bills & Expenses</span></div>
                    <div class="w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold text-danger mr-1">-</span><span>{{ transactions.expenses.total + transactions.bills.total }}</span></div>
                </div>
                <div class="flex bg-white">
                    <div class="rounded-bl w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold">Debts</span></div>
                    <div class="rounded-br w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold text-danger mr-1">-</span><span>{{ transactions.debts.total }}</span></div>
                </div>
                <div class="flex bg-white rounded-b">

                    {% set remainingBalance = budget.startBalance + transactions.incomes.total - transactions.expenses.total - transactions.bills.total - transactions.debts.total %}

                    <div class="rounded-bl w-full text-center p-2 bg-secondary"><span class="font-bold text-white">Left</span></div>
                    <div class="rounded-br w-full text-center border border-solid border-gray-300 p-2"><span class="font-bold text-xl text-secondary">{{ budget.currency|currency_symbol }}</span> <span>{{ remainingBalance }}</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-1 rounded bg-primary flex flex-col h-full">
        <div class="text-center bg-secondary p-2 rounded">
            <h2 class="text-2xl font-bold text-white">Left to spend</h2>
        </div>

        <div class="pb-4 bg-white">
            {{ render_chart(chart) }}
        </div>

        <div id="monthlyLeftToSpend" class="flex-grow rounded">
            <div class="flex items-center justify-center h-full bg-white relative p-4">
                <div class="absolute inset-0 flex items-center justify-end p-4">
                    <span class="text-2xl"><span class="text-secondary font-bold text-sm">{{ budget.currency|currency_symbol }}</span> <span class="text-sm">{{ remainingBalance }}</span> <span class="text-secondary font-bold text-sm">left to spend</span></span>
                </div>
            </div>
        </div>
    </div>
</div>