<div class="mt-2">
    <div class="mt-2">
        {{ form_start(form) }}
        <input type="hidden" x-ref="addFriendError" value="{{ form_errors(form.friend_search) ? 'true' : 'false' }}">

        <div class="flex flex-col w-full">
            <div class="flex flex-col w-full md:flex-row md:space-y-0 md:items-center space-y-2 md:space-x-2">
                {{ form_widget(form.friend_search, {attr: {
                    class: 'rounded-md p-1 border border-quaternary border-r-0 bg-secondary text-sm md:w-auto text-dynamic',
                }}) }}
                <twig:Cta
                    color="accent-primary"
                    size="xs"
                    label="Send"
                    icon="fa-paper-plane"
                    buttonType="submit"
                    extraClasses="md:w-auto w-full"
                />
            </div>
            <div class="text-danger text-sm">
                {{ form_errors(form.friend_search) }}
            </div>
        </div>

        {{ form_end(form) }}
    </div>
</div>
