{% extends 'base.html.twig' %}

{% block title %}Friendship - {{ parent() }}{% endblock %}

{% block body %}
    <div x-data="{
        activeTab: 'friends',
        checkForErrors() {
                if (this.$refs.addFriendError && this.$refs.addFriendError.value === 'true') {
                    this.activeTab = 'add';
                } else if (this.$refs.receivedRequestError && this.$refs.receivedRequestError.value === 'true') {
                    this.activeTab = 'requests';
                } else if (this.$refs.sentRequestError && this.$refs.sentRequestError.value === 'true') {
                    this.activeTab = 'sent_requests';
                }
            }
        }"
         x-init="checkForErrors()"
         class="container max-w-4xl mx-auto">
        <div class="bg-tertiary shadow-md rounded-md p-2 border border-quaternary border-solid">
            <div class="flex flex-col space-y-2 md:flex-row md:space-y-0 md:space-x-4 border-b border-quaternary mb-2 text-center">
                <button
                        @click="activeTab = 'friends'"
                        :class="{'border-b-2 border-accent-primary text-accent-primary': activeTab === 'friends', 'border-b-2 border-transparent text-white': activeTab !== 'friends'}"
                        class="py-2 px-4 w-full md:w-auto"
                        type="button">
                    Friends
                </button>
                <button
                        @click="activeTab = 'add'"
                        :class="{'border-b-2 border-accent-primary text-accent-primary': activeTab === 'add', 'border-b-2 border-transparent text-white': activeTab !== 'add'}"
                        class="py-2 px-4 w-full md:w-auto"
                        type="button">
                    Add a Friend
                </button>
                <button
                        @click="activeTab = 'requests'"
                        :class="{'border-b-2 border-accent-primary text-accent-primary': activeTab === 'requests', 'border-b-2 border-transparent text-white': activeTab !== 'requests'}"
                        class="py-2 px-4 w-full md:w-auto"
                        type="button">
                    Pending Requests
                </button>
                <button
                        @click="activeTab = 'sent_requests'"
                        :class="{'border-b-2 border-accent-primary text-accent-primary': activeTab === 'sent_requests', 'border-b-2 border-transparent text-white': activeTab !== 'sent_requests'}"
                        class="py-2 px-4 w-full md:w-auto"
                        type="button">
                    Sent Requests
                </button>
            </div>

            <div x-show="activeTab === 'friends'" class="mt-2">
                {{ include('friendship/part/friendList/_friend_list_tab_content.html.twig') }}
            </div>
            <div x-show="activeTab === 'add'" class="mt-2">
                {{ include('friendship/part/addFriend/_add_friend_tab_content.html.twig') }}
            </div>
            <div x-show="activeTab === 'requests'" class="mt-2">
                {{ include('friendship/part/friendRequest/received/_friend_request_tab_content.html.twig') }}
            </div>
            <div x-show="activeTab === 'sent_requests'" class="mt-2">
                {{ include('friendship/part/friendRequest/sent/_sent_request_tab_content.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
