{% extends 'base.html.twig' %}

{% block title %}{{ userProfile.username }}'s Profile - {{ parent() }}{% endblock %}

{% block body %}
    <div>
        <div class="bg-tertiary shadow-md rounded-md p-6 max-w-4xl mx-auto border border-quaternary border-solid">
            <div class="flex flex-col sm:flex-row justify-between">
                <div class="flex items-center relative">
                    <div class="w-24 h-24 rounded-full overflow-hidden relative">
                        {% if userProfile.userInformation and userProfile.userInformation.avatarName %}
                            <img src="{{ asset('uploads/avatars/' ~ userProfile.userInformation.avatarName) }}" alt="Avatar" class="w-full h-full rounded-full">
                        {% else %}
                            <img src="{{ asset('media/logo.png') }}" alt="Default Avatar" class="w-full h-full rounded-full">
                        {% endif %}
                    </div>
                    <div class="ml-6 flex flex-col justify-start">
                        <div class="space-y-1 mb-2">
                            {% if userProfile.userInformation and userProfile.userInformation.firstname and userProfile.userInformation.lastname %}
                                <h1 class="font-semibold text-dynamic text-sm">{{ userProfile.userInformation.firstname }} {{ userProfile.userInformation.lastname }}</h1>
                            {% else %}
                                <h1 class="font-semibold text-dynamic text-sm">User</h1>
                            {% endif %}
                            <p class="text-dynamic text-xs">{{ userProfile.email }}</p>
                        </div>

                        <twig:BadgeNeon
                            color="accent-primary"
                            size="xs"
                            borderStyle="solid"
                            label="@{{ userProfile.username }}"
                            title="Username"
                        />
                    </div>
                </div>
                <div>
                    {% if userProfile.id != app.user.id and friendship %}
                        <div class="mt-4 flex justify-center space-x-2">
                            <twig:Cta
                                color="accent-primary"
                                size="xs"
                                icon="fa-message"
                                label="Send message"
                                title="Send a message"
                                route="messenger_create_talk"
                                :routeParams="{ id: userProfile.id }"
                            />

                            <twig:Cta
                                class="mt-auto"
                                color="danger-outline"
                                size="xs"
                                icon="fa-user-xmark"
                                label="Unfriend"
                                title="Unfriend"
                                route="profile_friendship_unfriend"
                                :routeParams="{ id: friendship.id }"
                            />
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="mt-6">
                <h2 class="font-semibold text-dynamic text-sm">Profile Information</h2>
                <div class="mt-4">
                    <div class="grid grid-cols-1 md:grid-cols-1 gap-2 mb-2">
                        <div class="bg-secondary p-2 rounded-md border border-quaternary border-solid">
                            <h3 class="font-semibold text-dynamic text-sm">Bio</h3>
                            <p class="text-dynamic text-sm">{{ userProfile.userInformation.bio ?? '-' }}</p>
                        </div>
                    </div>
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                        <div class="bg-secondary p-2 rounded-md border border-quaternary border-solid">
                            <h3 class="font-semibold text-dynamic text-sm">First Name</h3>
                            <p class="text-dynamic text-sm">{{ userProfile.userInformation.firstname ?? '-' }}</p>
                        </div>
                        <div class="bg-secondary p-2 rounded-md border border-quaternary border-solid">
                            <h3 class="font-semibold text-dynamic text-sm">Last Name</h3>
                            <p class="text-dynamic text-sm">{{ userProfile.userInformation.lastname ?? '-' }}</p>
                        </div>
                        <div class="bg-secondary p-2 rounded-md border border-quaternary border-solid">
                            <h3 class="font-semibold text-dynamic text-sm">Email</h3>
                            <p class="text-dynamic text-sm">{{ userProfile.email }}</p>
                        </div>
                        <div class="bg-secondary p-2 rounded-md border border-quaternary border-solid">
                            <h3 class="font-semibold text-dynamic text-sm">Username</h3>
                            <p class="text-dynamic text-sm">{{ userProfile.username }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-2">
                <twig:BackButton />
            </div>
        </div>
    </div>
{% endblock %}
