<div x-data="{ open: false }" @click.outside="open = false">
    <div class="relative">
        <twig:Cta
                color="secondary"
                size="sm"
                icon="fa-bell"
                title="Notifications"
                dataActionUrl="true"
                @click="open = !open"
        >
            {% if unreadCount > 0 %}
                <span id="unread-count" class="absolute top-0 right-0 -mt-1 -mr-1 bg-accent-primary text-white text-xs font-semibold rounded-full px-2 py-0.5">
                    {{ unreadCount }}
                </span>
            {% endif %}
        </twig:Cta>
    </div>

    <div x-show="open"
         class="absolute right-4 mt-2 w-64 rounded-md overflow-hidden z-50 bg-secondary border border-quaternary-ring">
        <ul id="notifications-dropdown-content">
            {% if notifications is not empty %}
                <div class="p-2 text-right">
                    <button id="js-topbar-clear-all-notifications" class="text-xs text-white hover:underline">
                        Clear All
                    </button>
                </div>
                {% for notification in notifications %}
                    <li class="bg-secondary" id="topbar-notification-{{ notification.id }}">
                        <div class="bg-tertiary p-2 rounded-b-md px-4 py-3">
                            <div class="text-sm text-white">
                                <div class="text-xs text-senary my-2">
                                    {{ notification.createdAt|date('d/m/Y H:i') }}
                                </div>

                                {# TODO AXEL: improve the enum retrieval with a custom twig method #}
                                {% if notification.type == constant('App\\Enum\\Notification\\NotificationTypeEnum::FriendshipRequest').value %}
                                    <p class="mb-2 text-white">{{ notification.message }}</p>

                                    {# TODO AXEL: use twig component #}
                                    <a href="{{ path('profile_friendship', {tab: 'requests'}) }}" class="text-white">
                                        <button class="py-1 px-2 rounded-md bg-accent-primary hover:bg-accent-primary-hover text-white text-xs w-full">
                                            View
                                        </button>
                                    </a>
                                {% else %}
                                    {{ notification.message }}
                                {% endif %}
                            </div>
                            {% if not notification.isRead %}
                                <div class="text-center mt-2">
                                    {# TODO AXEL: use twig component #}
                                    <button class="js-topbar-mark-as-read py-1 px-2 rounded-md bg-accent-primary hover:bg-accent-primary-hover text-white text-xs w-full" data-notification-id="{{ notification.id }}">
                                        Mark as Read
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <li class="px-4 py-3 text-sm text-senary text-center">
                    No new notifications
                </li>
            {% endif %}
        </ul>
    </div>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('notification') }}
{% endblock %}
