{% extends 'base.html.twig' %}

{% block title %}Transaction Tags List {{ parent() }}{% endblock %}

{% set page_requires_transaction_tag_list = true %}

{% block body %}
    <div class="bg-accent shadow-md rounded-md max-w-lg mx-auto mt-6">
        <div class="bg-secondary text-center py-2 rounded-t-md">
            <h1 class="text-md font-bold text-white">Transaction Tags</h1>
        </div>

        <div class="p-4">
            <div>
                {% for tag in transactionTags %}
                    <div class="p-4 rounded-md {{ loop.index is odd ? 'bg-accent' : 'bg-tertiary' }}">
                        <div class="flex justify-between items-center">
                            <div class="font-semibold text-white rounded-md py-1 px-2" style="background-color: {{ tag.color }};">
                                #{{ tag.name }}
                            </div>
                            <div class="space-x-2">
                                <a href="{{ path('transaction_tag_edit', {id: tag.id}) }}" class="bg-primary hover:bg-primary-hover text-white font-bold py-2 px-3 rounded-md">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <button type="button"
                                        data-action-url="{{ path('transaction_tag_delete', {id: tag.id}) }}"
                                        class="js-delete-transaction-tag-button font-bold bg-danger hover:bg-danger-hover text-white py-2 px-3 rounded-md">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="p-4 rounded-md bg-accent text-center">
                        <span>No transaction tags found.</span>
                    </div>
                {% endfor %}
            </div>

            <div class="flex justify-between mt-4">
                <a href="{{ app.request.headers.get('referer') ?: path('account_list') }}" class="bg-primary hover:bg-primary-hover text-white font-bold py-2 px-4 rounded-md">
                    <i class="fa-solid fa-arrow-left"></i> Back
                </a>

                <a href="{{ path('transaction_tag_new') }}" class="bg-secondary hover:bg-secondary-hover text-white font-bold py-2 px-4 rounded-md">
                    <i class="fa-solid fa-plus"></i> Add Tag
                </a>
            </div>
        </div>
    </div>
{% endblock %}
