<div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-2 xxl:grid-cols-2">
    <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-2 xxl:grid-cols-2">
        <div>
            <div class="p-1 rounded-md">
                <div id="monthly-overview">
                    <h2 class="rounded-t-md text-center text-md font-bold p-2 bg-secondary text-white">Overview</h2>
                    <div class="flex flex-col md:flex-row bg-tertiary">
                        <div class="w-full text-center p-2">
                            <span class="font-bold text-xs">Currency</span>
                        </div>
                        <div class="w-full text-center p-2">
                            <span class="text-xs">{{ wallet.currency.value|currency_symbol }}</span>
                        </div>
                    </div>
                    <div class="flex flex-col md:flex-row bg-accent">
                        <div class="w-full text-center p-2">
                            <span class="font-bold text-xs">Start Date</span>
                        </div>
                        <div class="w-full text-center p-2">
                            <span class="text-xs">{{ wallet.startDate|date('d M Y') }}</span>
                        </div>
                    </div>
                    <div class="flex flex-col md:flex-row bg-tertiary">
                        <div class="w-full text-center p-2">
                            <span class="font-bold text-xs">End Date</span>
                        </div>
                        <div class="w-full text-center p-2">
                            <span class="text-xs">{{ wallet.endDate|date('d M Y') }}</span>
                        </div>
                    </div>
                    <div class="flex flex-col md:flex-row bg-accent md:rounded-b-md">
                        <div class="md:rounded-bl-md w-full text-center bg-quinary p-2"><span class="font-bold text-white text-xs">Start Balance</span></div>
                        <div class="md:rounded-br-md w-full text-center p-2">
                            <span class="text-xs">
                                <span class="font-bold text-xs">{{ wallet.currency.value|currency_symbol }}</span>
                                {{ wallet.startBalance|number_format(2, '.', ' ') }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-1 rounded-md">
                <div id="cash-flow">
                    <h2 class="rounded-t-md text-center text-md font-bold p-2 bg-secondary text-white">Cash Flow</h2>
                    <div class="flex flex-col md:flex-row bg-tertiary">
                        <div class="w-full text-center p-2">
                            <span class="font-bold text-xs">Start Balance</span>
                        </div>
                        <div class="w-full text-center p-2">
                            <span class="font-bold text-success text-xs mr-1">+</span>
                            <span class="text-xs">{{ wallet.startBalance|number_format(2, '.', ' ') }}</span>
                        </div>
                    </div>
                    <div class="flex flex-col md:flex-row bg-accent">
                        <div class="w-full text-center p-2"><span class="font-bold text-xs">Incomes</span></div>
                        <div class="w-full text-center p-2"><span class="font-bold text-success text-xs mr-1">+</span><span class="text-xs">{{ totalIncomes|number_format(2, '.', ' ') }}</span></div>
                    </div>
                    <div class="flex flex-col md:flex-row bg-tertiary">
                        <div class="w-full text-center p-2">
                            <span class="font-bold text-xs">Bills</span>
                        </div>
                        <div class="w-full text-center p-2">
                            <span class="font-bold text-danger text-xs mr-1">-</span>
                            <span class="text-xs">{{ totalBills|number_format(2, '.', ' ') }}</span>
                        </div>
                    </div>
                    <div class="flex flex-col md:flex-row bg-accent">
                        <div class="w-full text-center p-2">
                            <span class="font-bold text-xs">Expenses</span>
                        </div>
                        <div class="w-full text-center p-2">
                            <span class="font-bold text-danger text-xs mr-1">-</span>
                            <span class="text-xs">{{ totalExpenses|number_format(2, '.', ' ') }}</span>
                        </div>
                    </div>
                    <div class="flex flex-col md:flex-row bg-tertiary">
                        <div class="rounded-bl-md w-full text-center p-2"><span class="font-bold text-xs">Debts</span></div>
                        <div class="rounded-br-md w-full text-center p-2">
                            <span class="font-bold text-danger text-xs mr-1">-</span>
                            <span class="text-xs">{{ totalDebts|number_format(2, '.', ' ') }}</span>
                        </div>
                    </div>
                    <div class="flex flex-col md:flex-row rounded-b-md">
                        <div class="w-full text-center p-2 bg-quinary"><span class="font-bold text-white text-xs">Total incomes</span></div>
                        <div class="w-full text-center p-2 bg-quinary">
                            <div class="bg-accent rounded-md">
                                <span class="font-bold text-xs text-dark">{{ wallet.currency.value|currency_symbol }}</span>
                                <span class="text-dark text-xs">{{ totalIncomesAndStartingBalance|number_format(2, '.', ' ') }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col md:flex-row rounded-b-md">
                        {% set formattedTotalSpending = totalSpending|number_format(2, '.', ' ') %}
                        {% set formattedSpendingLimit = wallet.spendingLimit is not null ? wallet.spendingLimit|number_format(2, '.', ' ') : null %}
                        {% set isOverLimit = wallet.spendingLimit is not null and totalSpending > wallet.spendingLimit %}

                        <div class="w-full text-center p-2 {{ isOverLimit ? 'bg-danger' : 'bg-quinary' }}">
                            <span class="font-bold text-white text-xs">Total spending</span>
                        </div>
                        <div class="w-full text-center p-2 {{ isOverLimit ? 'bg-danger' : 'bg-quinary' }}">
                            <div class="bg-accent rounded-md">
                                <span class="font-bold text-xs text-dark">{{ wallet.currency.value|currency_symbol }}</span>
                                <span class="text-dark text-xs">{{ formattedTotalSpending }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col md:flex-row">
                        <div class="w-full text-center p-2 {{ totalBudget < 0 ? 'bg-danger' : 'bg-quinary' }}">
                            <span class="font-bold text-white text-xs">Total budget</span>
                        </div>
                        <div class="w-full text-center p-2 {{ totalBudget < 0 ? 'bg-danger' : 'bg-quinary' }}">
                            <div class="bg-accent rounded-md">
                                <span class="font-bold text-dark text-xs">{{ wallet.currency.value|currency_symbol }}</span>
                                <span class="text-dark text-xs">{{ totalBudget|number_format(2, '.', ' ') }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col md:flex-row rounded-b-md">
                        <div class="rounded-bl-md w-full text-center p-2 {{ totalLeftToSpend < 0 ? 'bg-danger' : 'bg-quinary' }}">
                            <span class="font-bold text-white text-xs">Total left to spend</span>
                        </div>
                        <div class="rounded-br-md w-full text-center p-2 {{ totalLeftToSpend < 0 ? 'bg-danger' : 'bg-quinary' }}">
                            <div class="bg-accent rounded-md">
                                <span class="font-bold text-xs text-dark">{{ wallet.currency.value|currency_symbol }}</span>
                                <span class="text-dark text-xs">{{ totalLeftToSpend|number_format(2, '.', ' ') }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="p-1 rounded-md">
                <div id="monthly-month">
                    <div class="text-center bg-secondary rounded-t-md">
                        <h2 class="text-md font-bold p-2 text-white">{{ wallet.getMonth()|month_name }} {{ wallet.getYear() }}</h2>
                    </div>
                    <div class="w-full rounded-b-md p-2 bg-accent">
                        <div class="grid grid-cols-2 sm:grid-cols-3 gap-1">
                            {% set allMonths = 1..12 %}

                            {% for yearDto in walletsAndTransactionsFromYear %}
                                {% set monthNumbers = yearDto.getMonths()|map(m => m.getMonthNumber()) %}

                                {% for i in allMonths %}
                                    {% if i in monthNumbers %}
                                        {% for monthDto in yearDto.getMonths() %}
                                            {% if monthDto.getMonthNumber() == i %}
                                                <a href="{{ path('account_wallet_dashboard', {year: yearDto.getYear(), month: monthDto.getMonthNumber(), accountId: account.id, walletId: monthDto.getWalletId()}) }}"
                                                   class="text-sm text-center font-bold py-2 px-4 rounded-md
                                                    {{ monthDto.getMonthNumber() == currentMonth ? 'bg-quinary text-white hover:bg-quinary-hover' : 'bg-secondary text-white hover:bg-secondary-hover' }}">
                                                    {{ monthDto.getMonthName() }}
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <a href="{{ path('account_wallet_add_quick_month', {accountId: account.getId(), yearId: yearDto.getYear(), monthId: i}) }}"
                                           class="text-sm text-center font-bold py-2 px-4 rounded-md bg-gray-400 hover:bg-gray-300 text-white">
                                            {{ i|month_name }}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="p-1 rounded-md">
            <div>
                <div class="text-center bg-secondary rounded-t-md">
                    <h2 class="text-md font-bold p-2 text-white">Actions</h2>
                </div>

                <div class="w-full bg-accent rounded-b-md p-2 bg-accent">
                    <div class="grid grid-cols-2 sm:grid-cols-3 gap-1">
                        <a href="{{ path('new_transaction_wallet', {walletId: wallet.id, accountId: account.id}) }}" class="text-center font-bold bg-secondary hover:bg-secondary-hover text-white text-xs p-2 cursor-pointer rounded-md">
                            <i class="fa-solid fa-plus mr-1"></i>
                            Transaction
                        </a>
                        <a href="{{ path('account_wallet_new', {year: currentYear, accountId: account.id, walletId: wallet.id}) }}" class="text-center font-bold bg-secondary hover:bg-secondary-hover text-white text-xs p-2 cursor-pointer rounded-md">
                            <i class="fa-solid fa-plus mr-1"></i>
                            Wallet
                        </a>
                        <a href="{{ path('account_wallet_edit', {accountId: account.id, id: wallet.id}) }}" class="text-center font-bold bg-secondary hover:bg-secondary-hover text-white text-xs p-2 cursor-pointer rounded-md">
                            <i class="fa-solid fa-pen-to-square mr-1"></i>
                            Wallet
                        </a>
                        <button type="button"
                                data-action-url="{{ path('account_wallet_copy_left_to_spend', {year: currentYear, month: currentMonth, accountId: account.id}) }}"
                                class="js-copy-left-to-spend-button text-center font-bold bg-secondary hover:bg-secondary-hover text-white text-xs p-2 cursor-pointer rounded-md">
                            <i class="fa-solid fa-forward mr-1"></i>
                            Initialize starting balance
                        </button>
                        <button type="button"
                                data-action-url="{{ path('account_wallet_reset_balance', {year: currentYear, month: currentMonth, accountId: account.id}) }}"
                                class="js-reset-start-balance-button text-center font-bold bg-secondary hover:bg-secondary-hover text-white text-xs p-2 cursor-pointer rounded-md">
                            <i class="fa-solid fa-backward mr-1"></i>
                            Reset starting balance
                        </button>
                        <button type="button"
                                data-action-url="{{ path('account_wallet_create_previous_month', {year: currentYear, month: currentMonth, accountId: account.id, walletId: wallet.id}) }}"
                                class="js-create-previous-wallet-button text-center font-bold bg-secondary hover:bg-secondary-hover text-white text-xs p-2 cursor-pointer rounded-md">
                            <i class="fa-solid fa-plus mr-1"></i>
                            Create previous month's wallet
                        </button>
                        <button type="button"
                                data-action-url="{{ path('account_wallet_create_next_month', {year: currentYear, month: currentMonth, accountId: account.id, walletId: wallet.id}) }}"
                                class="js-create-next-wallet-button text-center font-bold bg-secondary hover:bg-secondary-hover text-white text-xs p-2 cursor-pointer rounded-md">
                            <i class="fa-solid fa-plus mr-1"></i>
                            Create next month's wallet
                        </button>
                        <button type="button"
                                data-action-url="{{ path('account_wallet_copy_previous_month_incomes', {year: currentYear, month: currentMonth, accountId: account.id}) }}"
                                class="js-copy-incomes-button text-center font-bold bg-secondary hover:bg-secondary-hover text-white text-xs p-2 cursor-pointer rounded-md">
                            <i class="fa-solid fa-copy mr-1"></i>
                            Copy previous transaction incomes
                        </button>
                        <button type="button"
                                data-action-url="{{ path('account_wallet_copy_previous_month_bills', {year: currentYear, month: currentMonth, accountId: account.id}) }}"
                                class="js-copy-bills-button text-center font-bold bg-secondary hover:bg-secondary-hover text-white text-xs p-2 cursor-pointer rounded-md">
                            <i class="fa-solid fa-copy mr-1"></i>
                            Copy previous transaction bills
                        </button>
                        <button type="button"
                                data-action-url="{{ path('account_wallet_copy_previous_month_expenses', {year: currentYear, month: currentMonth, accountId: account.id}) }}"
                                class="js-copy-expenses-button text-center font-bold bg-secondary hover:bg-secondary-hover text-white text-xs p-2 cursor-pointer rounded-md">
                            <i class="fa-solid fa-copy mr-1"></i>
                            Copy previous transaction expenses
                        </button>
                        <button type="button"
                                data-action-url="{{ path('account_wallet_copy_previous_month_debts', {year: currentYear, month: currentMonth, accountId: account.id}) }}"
                                class="js-copy-debts-button text-center font-bold bg-secondary hover:bg-secondary-hover text-white text-xs p-2 cursor-pointer rounded-md">
                            <i class="fa-solid fa-copy mr-1"></i>
                            Copy previous transaction debts
                        </button>
                        <button type="button"
                                data-action-url="{{ path('account_wallet_delete_month', {year: currentYear, month: currentMonth, accountId: account.id, walletId: wallet.id}) }}"
                                class="js-delete-wallet-button text-center font-bold border border-danger hover:bg-danger-hover hover:text-white text-danger text-xs p-2 cursor-pointer rounded-md">
                            <i class="fa-solid fa-trash-can mr-1"></i>
                            Delete month's wallet and transactions
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 xl:grid-cols-2 xxl:grid-cols-2">
            <div class="p-1 rounded-md">
                <div>
                    <div class="text-center bg-secondary rounded-t-md">
                        <h2 class="text-md font-bold p-1 text-white">Start balance</h2>
                    </div>

                    <div class="w-full rounded-b-md p-1 bg-accent">
                        <div class="rounded-br-md w-full text-center">
                            <div class="bg-accent flex items-center justify-center space-x-2">
                                <span class="font-bold text-lg text-dark">{{ wallet.currency.value|currency_symbol }}</span>
                                <span class="font-bold text-lg text-dark">{{ wallet.startBalance|number_format(2, '.', ' ') }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-1 rounded-md">
                <div>
                    <div class="text-center bg-secondary rounded-t-md">
                        <h2 class="text-md font-bold p-1 text-white">Saving</h2>
                    </div>

                    <div class="w-full rounded-b-md p-1 bg-accent">
                        <div class="rounded-br-md w-full text-center">
                            <div class="bg-accent flex items-center justify-center space-x-2">
                                <span class="font-bold text-lg text-dark">{{ wallet.currency.value|currency_symbol }}</span>
                                <span class="font-bold text-lg text-dark {{ totalSaving < 0 ? 'text-danger' : 'text-dark' }}">{{ totalSaving|number_format(2, '.', ' ') }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-1 rounded-md">
                <div>
                    <div class="text-center bg-secondary rounded-t-md">
                        <h2 class="text-md font-bold p-1 text-white">Budget</h2>
                    </div>

                    <div class="w-full rounded-b-md p-1 bg-accent">
                        <div class="rounded-br-md w-full text-center">
                            <div class="bg-accent flex items-center justify-center space-x-2">
                                <span class="font-bold text-lg text-dark">{{ wallet.currency.value|currency_symbol }}</span>
                                <span class="font-bold text-lg text-dark {{ totalBudget < 0 ? 'text-danger' : 'text-dark' }}">{{ totalBudget|number_format(2, '.', ' ') }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-1 rounded-md">
                <div>
                    <div class="text-center bg-secondary rounded-t-md">
                        <h2 class="text-md font-bold p-1 text-white">Left</h2>
                    </div>

                    <div class="w-full rounded-b-md p-1 bg-accent">
                        <div class="rounded-br-md w-full text-center">
                            <div class="bg-accent flex items-center justify-center space-x-2">
                                <span class="font-bold text-lg text-dark">{{ wallet.currency.value|currency_symbol }}</span>
                                <span class="font-bold text-lg text-dark {{ totalLeftToSpend < 0 ? 'text-danger' : 'text-dark' }}">{{ totalLeftToSpend|number_format(2, '.', ' ') }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-1 rounded-md mb-1">
                <div id="spend-limit">
                    <h2 class="rounded-t-md text-center font-bold p-1 bg-secondary text-white">
                        <span class="font-bold text-md text-white">Spend limit</span>
                            {% if wallet.spendingLimit is not null %}
                                {% if totalSpending > wallet.spendingLimit %}
                                    <span class="bg-danger text-white text-xs rounded-md p-1 ml-2">
                                        Exceeded (<span class="font-bold text-secondary text-white text-xs">{{ wallet.currency.value|currency_symbol }}</span>
                                        {{ (totalSpending - wallet.spendingLimit)|number_format(2, '.', ' ') }})
                                    </span>
                                {% elseif totalSpending < wallet.spendingLimit %}
                                    <span class="bg-success text-white text-xs rounded-md p-1 ml-2">
                                        Left (<span class="font-bold text-secondary text-white text-xs">{{ wallet.currency.value|currency_symbol }}</span>
                                        {{ (wallet.spendingLimit - totalSpending)|number_format(2, '.', ' ') }})
                                    </span>
                                {% else %}
                                    <span class="bg-warning text-white text-xs rounded-md p-1 ml-2">
                                        Exactly on the limit (<span class="font-bold text-secondary text-white text-xs">{{ wallet.currency.value|currency_symbol }}</span>
                                        {{ wallet.spendingLimit|number_format(2, '.', ' ') }})
                                    </span>
                                {% endif %}
                        {% else %}
                            <span class="bg-success text-white text-xs rounded-md p-1 ml-2">
                                Unlimited
                            </span>
                        {% endif %}
                    </h2>

                    <div class="flex flex-col md:flex-row bg-accent rounded-b-md">
                        <div class="w-full text-center border border-solid border-gray-300 p-1 rounded-b-md">
                            {% if wallet.spendingLimit is not null %}
                                <span class="font-bold text-xs text-secondary">
                                    {{ wallet.currency.value|currency_symbol }}
                                </span>
                            {% endif %}
                            <span class="font-bold text-lg">{{ wallet.spendingLimit is not null ? wallet.spendingLimit|number_format(2, '.', ' ') : '<i class="fa-solid fa-infinity"></i>'|raw }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-1 rounded-md">
                <div>
                    <div class="text-center bg-secondary rounded-t-md">
                        <h2 class="text-md font-bold p-1 text-white">Spending</h2>
                    </div>

                    <div class="w-full rounded-b-md p-1 bg-accent">
                        <div class="rounded-br-md w-full text-center">
                            <div class="bg-accent flex items-center justify-center space-x-2">
                                <span class="font-bold text-lg text-dark">{{ wallet.currency.value|currency_symbol }}</span>
                                <span class="font-bold text-lg text-dark">{{ totalSpending|number_format(2, '.', ' ') }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
