{% extends 'base.html.twig' %}

{% block title %}Edit Wallet for {{ wallet.year }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('account_wallet_dashboard_wallet_edit') }}
{% endblock %}

{% block body %}
    <div id="account-wallet-dashboard-wallet-edit-page" class="hidden max-w-screen-xxl mx-auto">
        <div class="bg-secondary shadow-lg rounded-md max-w-lg mx-auto border border-quaternary border-solid">
            <div class="bg-tertiary text-dynamic text-center p-2 rounded-t-md border-b border-quaternary border-solid">
                <h1 class="text-md font-bold text-dynamic">Edit Wallet</h1>
            </div>
            <div class="p-4">
                {{ form_start(form) }}

                {% if form_errors(form) %}
                    <div class="mb-4 p-4 bg-danger text-dynamic rounded-md">
                        {{ form_errors(form) }}
                    </div>
                {% endif %}

                <div class="grid grid-cols-1 sm:grid-cols-2 gap-1">
                    <div class="flex flex-col mb-2">
                        {{ form_label(form.month, null, {label_attr: {class: 'text-dynamic'}}) }}
                        {{ form_widget(form.month) }}
                        <div class="text-danger text-sm">
                            {{ form_errors(form.month) }}
                        </div>
                    </div>
                    <div class="flex flex-col mb-2">
                        {{ form_label(form.currency, null, {label_attr: {class: 'text-dynamic'}}) }}
                        {{ form_widget(form.currency) }}
                        <div class="text-danger text-sm">
                            {{ form_errors(form.currency) }}
                        </div>
                    </div>
                    <div class="flex flex-col mb-2">
                        {{ form_label(form.start_balance, null, {label_attr: {class: 'text-dynamic'}}) }}
                        {{ form_widget(form.start_balance, {attr: {class: 'rounded-md p-2 bg-secondary border-quaternary border-solid border text-dynamic'}}) }}
                        <div class="text-danger text-sm">
                            {{ form_errors(form.start_balance) }}
                        </div>
                    </div>
                    <div class="flex flex-col mb-2">
                        {{ form_label(form.spending_limit, null, {label_attr: {class: 'text-dynamic'}}) }}
                        {{ form_widget(form.spending_limit, {attr: {class: 'rounded-md p-2 bg-secondary border-quaternary border-solid border text-dynamic'}}) }}
                        <div class="text-danger text-sm">
                            {{ form_errors(form.spending_limit) }}
                        </div>
                    </div>
                </div>
                <div class="mt-4 flex justify-between">
                    <twig:BackButton />
                    <twig:Cta
                        color="accent-primary"
                        size="xs"
                        label="Save changes"
                        buttonType="submit"
                    />
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block loadingSpinner %}
    {{ include('components/spinner/page-spinner.html.twig', {spinnerId: 'loadingPageSpinner'}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('account_wallet_dashboard_wallet_edit') }}
{% endblock %}
