<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Penny Wise{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <script src="https://kit.fontawesome.com/582e93cff3.js" crossorigin="anonymous"></script>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('base') }}
        {{ encore_entry_link_tags('topbar') }}
        {{ encore_entry_link_tags('right_side_menu') }}
        {{ encore_entry_link_tags('left_side_menu') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('base') }}
        {{ encore_entry_script_tags('topbar') }}
        {{ encore_entry_script_tags('right_side_menu') }}
        {{ encore_entry_script_tags('left_side_menu') }}
    {% endblock %}
</head>
<body id="base-page" class="min-h-screen flex-col hidden bg-secondary">
<div class="flex flex-1 flex-col h-full">
    {{ include('components/topbar/topbar.html.twig') }}

    <div>
        <aside id="js-left-side-menu" class="fixed top-0 left-0 w-full xs:w-1/2 sm:w-1/3 md:max-w-1/3 lg:w-1/4 xl:w-1/6 h-full transform -translate-x-full transition-transform duration-300 ease-in-out z-50 overflow-hidden bg-secondary border-r border-quaternary-ring">
            <div class="flex justify-end items-center bg-secondary text-dynamic p-4 border-b border-quaternary-ring">
                <button id="js-left-side-menu-close-button" class="text-dynamic">
                    <i class="fa-solid fa-times text-lg"></i>
                </button>
            </div>

            {{ include('components/clock.html.twig') }}
            <div class="border-b border-solid border-quaternary mb-2"></div>
            {% block leftSideMenuContent %}{% endblock %}
        </aside>

        {% block rightSideMenuContent %}{% endblock %}

        <div class="flex flex-col flex-1 min-h-screen">
            <main class="flex-1 p-4">
                {% for label, messages in app.flashes %}
                    <div class="alert-flash w-full p-4 mb-4 text-sm text-dynamic text-center rounded-md {{ label == 'success' ? 'bg-success' : label == 'warning' ? 'bg-warning' : 'bg-danger' }}" role="alert">
                        {% for message in messages %}
                            <span class="font-bold text-dynamic">{{ label|capitalize }}:</span> {{ message }}
                        {% endfor %}
                    </div>
                {% endfor %}
                {% block body %}{% endblock %}
            </main>

            {{ include('components/footer.html.twig') }}
        </div>
    </div>
</div>

{% block loadingSpinner %}
    {{ include('components/spinner/page_spinner.html.twig', {spinnerId: 'loadingPageSpinner'}) }}
{% endblock %}
</body>
</html>
