<div x-show="activeTab === 'sent_requests'" class="mt-2">
    <ul class="space-y-2">
        {% for request in sentRequests %}
            <li class="flex items-center justify-between bg-secondary p-2 rounded-md border border-quaternary text-white text-sm">
                <div class="flex items-center">
                    {% if request.friend.userInformation and request.friend.userInformation.avatarName %}
                        <img src="{{ asset('uploads/avatars/' ~ request.friend.userInformation.avatarName) }}" alt="{{ request.friend.username }}'s avatar" class="w-8 h-8 rounded-full mr-2">
                    {% else %}
                        <img src="{{ asset('media/logo.png') }}" alt="Default Avatar" class="w-8 h-8 rounded-full mr-2">
                    {% endif %}
                    <span class="text-white">{{ request.friend.username }} <span class="text-senary">({{ request.friend.email }})</span></span>
                </div>
                <div class="flex space-x-2">
                    <twig:Cta
                        color="danger-outline"
                        size="xs"
                        icon="fa-user-xmark"
                        label="Cancel friend request"
                        title="Cancel"
                        route="cancel_friend_request"
                        :routeParams="{ id: request.id }"
                    />
                    <twig:Badge
                        color="quaternary"
                        size="xs"
                        borderStyle="solid"
                        rounded="md"
                        label="Pending..."
                        title="Request Pending"
                    />
                </div>
            </li>
        {% else %}
            <li class="text-white text-sm">No sent friend requests.</li>
        {% endfor %}
    </ul>
</div>
