<span class="text-xs text-white text-center font-bold bg-accent rounded-md p-1.5">Wallet: {{ wallet.getMonth()|month_name }} {{ wallet.getYear() }}</span>
{% for button in buttons %}
    <button id="{{ button.id }}" class="bg-secondary hover:bg-secondary-hover text-white py-1 px-2 rounded-md shadow-lg" title="{{ button.title }}">
        <i class="fa-solid {{ button.icon }}"></i>
    </button>
{% endfor %}