{% set calendarModalContent %}
    <div id="monthly-month">
        <div class="w-full rounded-b-md p-2 bg-tertiary">
            <div class="mb-2 bg-senary p-2 rounded-md">
                <div class="grid grid-cols-2 sm:grid-cols-3 gap-1">
                    {% set allMonths = 1..12 %}
                    {% for yearDto in walletsAndTransactionsFromYear %}
                        {% set monthNumbers = yearDto.getMonths()|map(m => m.getMonthNumber()) %}

                        {% for i in allMonths %}
                            {% if i in monthNumbers %}
                                {% for monthDto in yearDto.getMonths() %}
                                    {% if monthDto.getMonthNumber() == i %}
                                        <a href="{{ path('account_wallet_dashboard', {year: yearDto.getYear(), month: monthDto.getMonthNumber(), accountId: account.id, walletId: monthDto.getWalletId()}) }}"
                                           class="text-sm text-center font-bold py-2 px-4 rounded-md
                                                {% if monthDto.getMonthNumber() == currentMonth and yearDto.getYear() == currentYear %}
                                                    bg-accent hover:bg-accent-hover text-white
                                                {% else %}
                                                    bg-secondary text-white hover:bg-secondary-hover
                                                {% endif %}">
                                            {{ monthDto.getMonthName() }}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <a href="{{ path('account_wallet_add_quick_month', {accountId: account.getId(), yearId: yearDto.getYear(), monthId: i}) }}"
                                   class="text-sm text-center font-bold py-2 px-4 rounded-md bg-gray-400 hover:bg-gray-300 text-white">
                                    {{ i|month_name }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endset %}

{{ include('components/sideMenu/modal.html.twig', {
    modalId: 'walletSideMenuCalendarModal',
    modalTitle: 'Calendar',
    modalContent: calendarModalContent,
    closeModalId: 'closeWalletSideMenuCalendarModal'
}) }}
