{% set actionsModalContent %}
    <div class="w-full rounded-b-md p-2">
        <div class="mb-2 bg-secondary rounded-md border-quaternary border-solid border border-solid border border-quaternary-ring">
            <div class="bg-tertiary border-solid border-b border-quaternary-ring p-2 rounded-t-md">
                <h3 class="text-md font-bold mb-1 text-white">Transaction</h3>
            </div>
            <div class="grid grid-cols-2 sm:grid-cols-3 gap-1 p-2">
                <a href="{{ path('new_transaction_wallet', {walletId: wallet.id, accountId: account.id}) }}"
                   class="text-center bg-quinary hover:bg-quinary-hover border-solid border border-quaternary-ring text-white text-xs p-2 cursor-pointer rounded-md">
                    <i class="fa-solid fa-plus mr-1"></i>
                    Transaction
                </a>
            </div>
        </div>

        <div class="mb-2 bg-secondary rounded-md border-quaternary border-solid border border-solid border border-quaternary-ring">
            <div class="bg-tertiary border-solid border-b border-quaternary-ring p-2 rounded-t-md">
                <h3 class="text-md font-bold mb-1 text-white">Wallet</h3>
            </div>
            <div class="grid grid-cols-2 sm:grid-cols-3 gap-1 p-2">
                <a href="{{ path('account_wallet_new', {year: currentYear, accountId: account.id, walletId: wallet.id}) }}"
                   class="text-center font-bold bg-quinary hover:bg-quinary-hover border-solid border border-quaternary-ring text-white text-xs p-2 cursor-pointer rounded-md">
                    <i class="fa-solid fa-plus mr-1"></i>
                    Wallet
                </a>
                <a href="{{ path('account_wallet_edit', {accountId: account.id, id: wallet.id}) }}"
                   class="text-center font-bold bg-quinary hover:bg-quinary-hover border-solid border border-quaternary-ring text-white text-xs p-2 cursor-pointer rounded-md">
                    <i class="fa-solid fa-pen-to-square mr-1"></i>
                    Wallet
                </a>
                <button type="button"
                        data-action-url="{{ path('account_wallet_delete_month', {year: currentYear, month: currentMonth, accountId: account.id, walletId: wallet.id}) }}"
                        class="js-delete-wallet-button text-center font-bold bg-danger hover:bg-danger-hover border-solid border border-danger-ring text-white text-xs p-2 cursor-pointer rounded-md">
                    <i class="fa-solid fa-trash-can mr-1"></i>
                    Delete wallet
                </button>
            </div>
        </div>

        <div class="mb-2 bg-secondary rounded-md border-quaternary border-solid border border-solid border border-quaternary-ring">
            <div class="bg-tertiary border-solid border-b border-quaternary-ring p-2 rounded-t-md">
                <h3 class="text-md font-bold mb-1 text-white">Wallet - Balance</h3>
            </div>
            <div class="grid grid-cols-2 sm:grid-cols-2 gap-1 p-2">
                <button type="button"
                        data-action-url="{{ path('account_wallet_copy_left_to_spend', {year: currentYear, month: currentMonth, accountId: account.id}) }}"
                        class="js-copy-left-to-spend-button text-center font-bold bg-quinary hover:bg-quinary-hover border-solid border border-quaternary-ring text-white text-xs p-2 cursor-pointer rounded-md">
                    <i class="fa-solid fa-forward mr-1"></i>
                    Initialize starting balance
                </button>
                <button type="button"
                        data-action-url="{{ path('account_wallet_reset_balance', {year: currentYear, month: currentMonth, accountId: account.id}) }}"
                        class="js-reset-start-balance-button text-center font-bold bg-quinary hover:bg-quinary-hover border-solid border border-quaternary-ring text-white text-xs p-2 cursor-pointer rounded-md">
                    <i class="fa-solid fa-backward mr-1"></i>
                    Reset starting balance
                </button>
            </div>
        </div>

        <div class="mb-2 bg-secondary rounded-md border-quaternary border-solid border border-solid border border-quaternary-ring">
            <div class="bg-tertiary border-solid border-b border-quaternary-ring p-2 rounded-t-md">
                <h3 class="text-md font-bold mb-1 text-white">Wallet - Create</h3>
            </div>
            <div class="grid grid-cols-2 sm:grid-cols-2 gap-1 p-2">
                <button type="button"
                        data-action-url="{{ path('account_wallet_create_previous_month', {year: currentYear, month: currentMonth, accountId: account.id, walletId: wallet.id}) }}"
                        class="js-create-previous-wallet-button text-center font-bold bg-quinary hover:bg-quinary-hover border-solid border border-quaternary-ring text-white text-xs p-2 cursor-pointer rounded-md">
                    <i class="fa-solid fa-plus mr-1"></i>
                    Create previous month's wallet
                </button>
                <button type="button"
                        data-action-url="{{ path('account_wallet_create_next_month', {year: currentYear, month: currentMonth, accountId: account.id, walletId: wallet.id}) }}"
                        class="js-create-next-wallet-button text-center font-bold bg-quinary hover:bg-quinary-hover border-solid border border-quaternary-ring text-white text-xs p-2 cursor-pointer rounded-md">
                    <i class="fa-solid fa-plus mr-1"></i>
                    Create next month's wallet
                </button>
            </div>
        </div>

        <div class="mb-2 bg-secondary rounded-md border-quaternary border-solid border border-solid border border-quaternary-ring">
            <div class="bg-tertiary border-solid border-b border-quaternary-ring p-2 rounded-t-md">
                <h3 class="text-md font-bold mb-1 text-white">Wallet - Copy</h3>
            </div>
            <div class="grid grid-cols-2 sm:grid-cols-4 gap-1 p-2">
                <button type="button"
                        data-action-url="{{ path('account_wallet_copy_previous_month_incomes', {year: currentYear, month: currentMonth, accountId: account.id}) }}"
                        class="js-copy-incomes-button text-center font-bold bg-quinary hover:bg-quinary-hover border-solid border border-quaternary-ring text-white text-xs p-2 cursor-pointer rounded-md">
                    <i class="fa-solid fa-copy mr-1"></i>
                    Copy previous transaction incomes
                </button>
                <button type="button"
                        data-action-url="{{ path('account_wallet_copy_previous_month_bills', {year: currentYear, month: currentMonth, accountId: account.id}) }}"
                        class="js-copy-bills-button text-center font-bold bg-quinary hover:bg-quinary-hover border-solid border border-quaternary-ring text-white text-xs p-2 cursor-pointer rounded-md">
                    <i class="fa-solid fa-copy mr-1"></i>
                    Copy previous transaction bills
                </button>
                <button type="button"
                        data-action-url="{{ path('account_wallet_copy_previous_month_expenses', {year: currentYear, month: currentMonth, accountId: account.id}) }}"
                        class="js-copy-expenses-button text-center font-bold bg-quinary hover:bg-quinary-hover border-solid border border-quaternary-ring text-white text-xs p-2 cursor-pointer rounded-md">
                    <i class="fa-solid fa-copy mr-1"></i>
                    Copy previous transaction expenses
                </button>
                <button type="button"
                        data-action-url="{{ path('account_wallet_copy_previous_month_debts', {year: currentYear, month: currentMonth, accountId: account.id}) }}"
                        class="js-copy-debts-button text-center font-bold bg-quinary hover:bg-quinary-hover border-solid border border-quaternary-ring text-white text-xs p-2 cursor-pointer rounded-md">
                    <i class="fa-solid fa-copy mr-1"></i>
                    Copy previous transaction debts
                </button>
            </div>
        </div>
    </div>
{% endset %}

{{ include('components/sideMenu/modal.html.twig', {
    modalId: 'walletSideMenuActionsModal',
    modalTitle: 'Actions',
    modalContent: actionsModalContent,
    closeModalId: 'closeWalletSideMenuActionsModal'
}) }}
