{% extends 'base.html.twig' %}

{% block title %}New Wallet - {{ parent() }}{% endblock %}

{% block body %}
    <div>
        <div class="bg-secondary rounded-md max-w-lg mx-auto border-quaternary border-solid border">
            <div class="bg-tertiary text-white text-center p-2 rounded-t-md border-b border-quaternary border-solid">
                <h1 class="text-sm font-bold text-white">Add a New Wallet</h1>
            </div>
            <div class="p-4">
                {{ form_start(form) }}

                {% if form_errors(form) %}
                    <div class="mb-4 p-4 bg-danger text-white rounded-md">
                        {{ form_errors(form) }}
                    </div>
                {% endif %}

                <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                    <div class="flex flex-col mb-2">
                        {{ form_label(form.account, null, {label_attr: {class: 'text-white text-sm'}}) }}
                        {{ form_widget(form.account) }}
                        <div class="text-danger text-sm mt-1">
                            {{ form_errors(form.account) }}
                        </div>
                    </div>
                    <div class="flex flex-col mb-2">
                        {{ form_label(form.year, null, {label_attr: {class: 'text-white text-sm'}}) }}
                        {{ form_widget(form.year, {attr: {class: 'rounded-md p-2 bg-secondary border-quaternary border-solid border text-sm'}}) }}
                        <div class="text-danger text-sm mt-1">
                            {{ form_errors(form.year) }}
                        </div>
                    </div>
                    <div class="flex flex-col mb-2">
                        {{ form_label(form.month, null, {label_attr: {class: 'text-white text-sm'}}) }}
                        {{ form_widget(form.month) }}
                        <div class="text-danger text-sm mt-1">
                            {{ form_errors(form.month) }}
                        </div>
                    </div>
                    <div class="flex flex-col mb-2">
                        {{ form_label(form.currency, null, {label_attr: {class: 'text-white text-sm'}}) }}
                        {{ form_widget(form.currency) }}
                        <div class="text-danger text-sm mt-1">
                            {{ form_errors(form.currency) }}
                        </div>
                    </div>
                    <div class="flex flex-col mb-2">
                        {{ form_label(form.start_balance, null, {label_attr: {class: 'text-white text-sm'}}) }}
                        {{ form_widget(form.start_balance, {attr: {class: 'rounded-md p-2 bg-secondary border-quaternary border-solid border text-sm'}}) }}
                        <div class="text-danger text-sm mt-1">
                            {{ form_errors(form.start_balance) }}
                        </div>
                    </div>
                    <div class="flex flex-col mb-2">
                        {{ form_label(form.spending_limit, null, {label_attr: {class: 'text-white text-sm'}}) }}
                        {{ form_widget(form.spending_limit, {attr: {class: 'rounded-md p-2 bg-secondary border-quaternary border-solid border text-sm'}}) }}
                        <div class="text-danger text-sm mt-1">
                            {{ form_errors(form.spending_limit) }}
                        </div>
                    </div>
                </div>
                <div class="mt-4 flex justify-between">
                    <twig:Cta
                        color="quaternary"
                        size="xs"
                        icon="fa-arrow-left"
                        label="Back"
                        route="account_list"
                    />
                    <twig:Cta
                        color="accent-primary"
                        size="xs"
                        label="Create wallet"
                        buttonType="submit"
                    />
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
