<div class="bg-primary px-5">
    <div class="flex items-center justify-between">
        <div class="flex items-center justify-between">
            <a href="{{ path('wallet_list') }}" class="text-white font-bold text-xl mr-2">
                SPENDING WISE
            </a>
        </div>

        <div>
            {% if app.user %}
                <div class="flex items-center justify-between">
                    <div>
                        <button id="js-user-dropdown-button" class="flex items-center text-center p-2 cursor-pointer rounded-md focus:outline-none">
                            {% if app.user.userInformation and app.user.userInformation.avatarName %}
                                <img src="{{ asset('uploads/avatars/' ~ app.user.userInformation.avatarName) }}" alt="Avatar" class="w-8 h-8 rounded-full">
                            {% else %}
                                <img src="{{ asset('media/logo.png') }}" alt="Default Avatar" class="w-8 h-8 rounded-full">
                            {% endif %}
                        </button>
                        <div id="js-user-dropdown-menu" class="hidden absolute right-0 mt-2 w-64 bg-white rounded-md z-50">
                            <div class="flex items-center p-4">
                                <div class="w-10 h-10">
                                    {% if app.user.userInformation and app.user.userInformation.avatarName %}
                                        <img src="{{ asset('uploads/avatars/' ~ app.user.userInformation.avatarName) }}" alt="Avatar" class="rounded-full w-8 h-8">
                                    {% else %}
                                        <img src="{{ asset('media/logo.png') }}" alt="Default Avatar" class="rounded-full w-8 h-8">
                                    {% endif %}
                                </div>

                                <div class="ml-3">
                                    {% if app.user.userInformation.firstname and app.user.userInformation.lastname %}
                                        <span class="block text-sm font-bold text-gray-700">
                                            {{ app.user.userInformation.firstname }} {{ app.user.userInformation.lastname }}
                                        </span>
                                    {% endif %}
                                    <span class="block text-sm text-gray-500">
                                        {{ app.user.email }}
                                    </span>
                                </div>
                            </div>

                            <div class="flex items-center justify-center mb-2 p-4">
                                <a href="{{ path('profile_show') }}" class="w-full text-center text-xs font-bold bg-primary hover:bg-primary-hover text-white py-2 px-4 rounded-md">Show profile</a>
                            </div>

                            <div class="border-t border-gray-200">
                                <a href="{{ path('dashboard') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
                                    <i class="fa-solid fa-gauge mr-1"></i> Dashboard
                                </a>
                                <a href="{{ path('wallet_list') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
                                    <i class="fa-solid fa-money-bill mr-1"></i>My wallets
                                </a>
                                <a href="{{ path('app_logout') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 rounded-b-md">
                                    <i class="fa-solid fa-right-from-bracket mr-1"></i> Logout
                                </a>
                            </div>
                            <div class="border-t border-gray-200 mt-2">
                                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
                                    <i class="fa-solid fa-language mr-1"></i> Language: <span class="font-bold">English</span>
                                </a>
                                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
                                    <i class="fa-solid fa-moon mr-1"></i> Appearance: <span class="font-bold">Light</span>
                                </a>
                                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
                                    <i class="fa-solid fa-screwdriver-wrench mr-1"></i> Settings
                                </a>
                                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
                                    <i class="fa-solid fa-question mr-1"></i> Help
                                </a>
                            </div>

                            <div class="border-t border-gray-200 text-center">
                                <span class="text-xs text-gray-500">© 2024 Spending Wise</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
