<div id="walletSideMenuSummaryModal" class="fixed top-0 right-0 w-full md:w-1/3 h-full bg-senary shadow-lg transform translate-x-full transition-transform duration-300 ease-in-out z-50 overflow-hidden">
    <div class="bg-secondary text-white p-4 flex justify-between items-center">
        <div class="flex items-center justify-center">
            <h2 class="text-md font-bold text-white mr-5">Wallet summary</h2>
        </div>
        <button id="closeWalletSideMenuSummaryModal" class="text-white hover:text-gray-200">
            <i class="fa-solid fa-times text-xl"></i>
        </button>
    </div>

    <div class="p-4 h-[calc(100%-4rem)] overflow-y-auto">
        <div id="monthly-overview">
            <h2 class="rounded-t-md text-center text-md font-bold p-2 bg-secondary text-white">Overview</h2>

            <div class="flex flex-col md:flex-row bg-senary">
                <div class="w-full text-center p-2">
                    <span class="font-bold text-xs">Month</span>
                </div>
                <div class="w-full text-center p-2">
                    <span class="text-xs">{{ wallet.getMonth()|month_name }} {{ wallet.getYear() }}</span>
                </div>
            </div>
            <div class="flex flex-col md:flex-row bg-tertiary">
                <div class="w-full text-center p-2">
                    <span class="font-bold text-xs">Currency</span>
                </div>
                <div class="w-full text-center p-2">
                    <span class="text-xs">{{ wallet.currency.value|currency_symbol }}</span>
                </div>
            </div>
            <div class="flex flex-col md:flex-row bg-senary">
                <div class="w-full text-center p-2">
                    <span class="font-bold text-xs">Start Date</span>
                </div>
                <div class="w-full text-center p-2">
                    <span class="text-xs">{{ wallet.startDate|date('d M Y') }}</span>
                </div>
            </div>
            <div class="flex flex-col md:flex-row bg-tertiary">
                <div class="w-full text-center p-2">
                    <span class="font-bold text-xs">End Date</span>
                </div>
                <div class="w-full text-center p-2">
                    <span class="text-xs">{{ wallet.endDate|date('d M Y') }}</span>
                </div>
            </div>
            <div class="flex flex-col md:flex-row bg-senary md:rounded-b-md">
                <div class="md:rounded-bl-md w-full text-center bg-quinary p-2"><span class="font-bold text-white text-xs">Start Balance</span></div>
                <div class="md:rounded-br-md w-full text-center p-2">
                    <span class="text-xs">
                        <span class="font-bold text-xs">{{ wallet.currency.value|currency_symbol }}</span>
                        {{ wallet.startBalance|number_format(2, '.', ' ') }}
                    </span>
                </div>
            </div>
        </div>

        <div id="cash-flow" class="mt-1">
            <h2 class="rounded-t-md text-center text-md font-bold p-2 bg-secondary text-white">Cash Flow</h2>
            <div class="flex flex-col md:flex-row bg-tertiary">
                <div class="w-full text-center p-2">
                    <span class="font-bold text-xs">Start Balance</span>
                </div>
                <div class="w-full text-center p-2">
                    <span class="font-bold text-success text-xs mr-1">+</span>
                    <span class="text-xs">{{ wallet.startBalance|number_format(2, '.', ' ') }}</span>
                </div>
            </div>
            <div class="flex flex-col md:flex-row bg-senary">
                <div class="w-full text-center p-2"><span class="font-bold text-xs">Incomes</span></div>
                <div class="w-full text-center p-2"><span class="font-bold text-success text-xs mr-1">+</span><span class="text-xs">{{ totalIncomes|number_format(2, '.', ' ') }}</span></div>
            </div>
            <div class="flex flex-col md:flex-row bg-tertiary">
                <div class="w-full text-center p-2">
                    <span class="font-bold text-xs">Bills</span>
                </div>
                <div class="w-full text-center p-2">
                    <span class="font-bold text-danger text-xs mr-1">-</span>
                    <span class="text-xs">{{ totalBills|number_format(2, '.', ' ') }}</span>
                </div>
            </div>
            <div class="flex flex-col md:flex-row bg-senary">
                <div class="w-full text-center p-2">
                    <span class="font-bold text-xs">Expenses</span>
                </div>
                <div class="w-full text-center p-2">
                    <span class="font-bold text-danger text-xs mr-1">-</span>
                    <span class="text-xs">{{ totalExpenses|number_format(2, '.', ' ') }}</span>
                </div>
            </div>
            <div class="flex flex-col md:flex-row bg-tertiary">
                <div class="rounded-bl-md w-full text-center p-2"><span class="font-bold text-xs">Debts</span></div>
                <div class="rounded-br-md w-full text-center p-2">
                    <span class="font-bold text-danger text-xs mr-1">-</span>
                    <span class="text-xs">{{ totalDebts|number_format(2, '.', ' ') }}</span>
                </div>
            </div>
            <div class="flex flex-col md:flex-row rounded-b-md">
                <div class="w-full text-center p-2 bg-quinary"><span class="font-bold text-white text-xs">Total incomes</span></div>
                <div class="w-full text-center p-2 bg-quinary">
                    <div class="bg-senary rounded-md">
                        <span class="font-bold text-xs text-dark">{{ wallet.currency.value|currency_symbol }}</span>
                        <span class="text-dark text-xs">{{ totalIncomesAndStartingBalance|number_format(2, '.', ' ') }}</span>
                    </div>
                </div>
            </div>
            <div class="flex flex-col md:flex-row rounded-b-md">
                {% set formattedTotalSpending = totalSpending|number_format(2, '.', ' ') %}
                {% set formattedSpendingLimit = wallet.spendingLimit is not null ? wallet.spendingLimit|number_format(2, '.', ' ') : null %}
                {% set isOverLimit = wallet.spendingLimit is not null and totalSpending > wallet.spendingLimit %}

                <div class="w-full text-center p-2 {{ isOverLimit ? 'bg-danger' : 'bg-quinary' }}">
                    <span class="font-bold text-white text-xs">Total spending</span>
                </div>
                <div class="w-full text-center p-2 {{ isOverLimit ? 'bg-danger' : 'bg-quinary' }}">
                    <div class="bg-senary rounded-md">
                        <span class="font-bold text-xs text-dark">{{ wallet.currency.value|currency_symbol }}</span>
                        <span class="text-dark text-xs">{{ formattedTotalSpending }}</span>
                    </div>
                </div>
            </div>
            <div class="flex flex-col md:flex-row">
                <div class="w-full text-center p-2 {{ totalBudget < 0 ? 'bg-danger' : 'bg-quinary' }}">
                    <span class="font-bold text-white text-xs">Total budget</span>
                </div>
                <div class="w-full text-center p-2 {{ totalBudget < 0 ? 'bg-danger' : 'bg-quinary' }}">
                    <div class="bg-senary rounded-md">
                        <span class="font-bold text-dark text-xs">{{ wallet.currency.value|currency_symbol }}</span>
                        <span class="text-dark text-xs">{{ totalBudget|number_format(2, '.', ' ') }}</span>
                    </div>
                </div>
            </div>
            <div class="flex flex-col md:flex-row rounded-b-md">
                <div class="rounded-bl-md w-full text-center p-2 {{ totalLeftToSpend < 0 ? 'bg-danger' : 'bg-quinary' }}">
                    <span class="font-bold text-white text-xs">Total left to spend</span>
                </div>
                <div class="rounded-br-md w-full text-center p-2 {{ totalLeftToSpend < 0 ? 'bg-danger' : 'bg-quinary' }}">
                    <div class="bg-senary rounded-md">
                        <span class="font-bold text-xs text-dark">{{ wallet.currency.value|currency_symbol }}</span>
                        <span class="text-dark text-xs">{{ totalLeftToSpend|number_format(2, '.', ' ') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
