<div x-show="activeTab === 'friends'" class="mt-2">
    <ul>
        {% for friend in friendship %}
            {% dump (friend) %}
            <li class="bg-secondary p-2 rounded-md border border-quaternary text-white text-sm flex items-center justify-between mb-2">
                <div class="flex items-center space-x-2">
                    {% if friend.friend.userInformation and friend.friend.userInformation.avatarName %}
                        <img src="{{ asset('uploads/avatars/' ~ friend.friend.userInformation.avatarName) }}" alt="{{ friend.friend.username }}'s avatar" class="w-8 h-8 rounded-full">
                    {% else %}
                        <img src="{{ asset('media/logo.png') }}" alt="Default Avatar" class="w-8 h-8 rounded-full">
                    {% endif %}
                    <span class="text-white">{{ friend.friend.username }} <span class="text-senary">({{ friend.friend.email }})</span></span>
                </div>

                <div class="flex items-center space-x-2">

                    <twig:Cta
                        color="accent-primary"
                        size="xs"
                        icon="fa-user"
                        label="Profile"
                        title="See profile"
                        route="profile_view"
                        :routeParams="{ username: friend.friend.username }"
                    />

                    <twig:Cta
                        class="mt-auto"
                        color="accent-primary"
                        size="xs"
                        icon="fa-message"
                        label="Send message"
                        title="Feature not available"
                        disabled="true"
                    />

                    {# TODO AXEL: add confirmation modal #}
                    <twig:Cta
                        color="danger-outline"
                        size="xs"
                        icon="fa-user-xmark"
                        label="Unfriend"
                        title="Unfriend"
                        route="unfriend"
                        :routeParams="{ id: friend.id }"
                    />
                </div>
            </li>
        {% else %}
            <li class="text-white text-sm">You have no friends yet.</li>
        {% endfor %}
    </ul>
</div>
