{% import 'components/macro/cta_macros.html.twig' as buttonMacros %}
{% from _self import renderContent %}

{% macro renderContent(icon, label, iconPosition, textClasses) %}
    {{ buttonMacros.renderContent(icon, label, iconPosition, textClasses) }}
{% endmacro %}

{% props
    color = 'quaternary',
    size = 'xs',
    fullWidth = false,
    borderStyle = 'solid',
    route = null,
    routeParams = {},
    label = '',
    icon = '',
    iconPosition = 'left',
    id = '',
    title = '',
    disabled = false,
    extraClasses = '',
    buttonType = 'button',
    dataActionUrl = false,
    alpineAttributes = {},
    attributes = {}
%}

{% set baseClasses = 'font-bold rounded-md text-center group' %}
{% set buttonClasses = html_cva(
    base=baseClasses,
    variants={
        color: {
            primary: 'border bg-primary hover:bg-primary-hover text-dynamic border-primary-ring',
            secondary: 'border bg-secondary hover:bg-secondary-hover text-dynamic border-secondary-ring',
            quaternary: 'border bg-quaternary hover:bg-quaternary-hover text-dynamic border-quaternary-ring',
            quinary: 'border bg-quinary hover:bg-quinary-hover text-dynamic border-quinary-ring',
            'accent-primary': 'border bg-accent-primary hover:bg-accent-primary-hover text-dynamic border-accent-primary-ring',
            danger: 'border bg-danger hover:bg-danger-hover text-dynamic border-danger-ring',
            'danger-outline': 'border bg-transparent text-danger border-danger-ring hover:bg-danger hover:text-dynamic',
            transparent: 'text-dynamic-gray hover:text-dynamic',
        },
        size: {
            xs: 'text-xs py-1 px-1.5',
            sm: 'text-sm py-1.5 px-2',
            md: 'text-sm py-2 px-4',
            lg: 'text-lg py-3 px-5',
        },
        fullWidth: {
            true: 'w-full block',
            false: '',
        },
        borderStyle: {
            solid: 'border-solid',
            dashed: 'border-dashed',
        },
        disabled: {
            true: 'cursor-not-allowed opacity-50',
            false: '',
        }
    }
) %}

{% set textClasses = html_cva(
    base='group-hover:text-dynamic',
    variants={
        color: {
            primary: 'text-dynamic',
            secondary: 'text-dynamic',
            quaternary: 'text-dynamic',
            quinary: 'text-dynamic',
            'accent-primary': 'text-dynamic',
            danger: 'text-dynamic',
            'danger-outline': 'text-danger hover:text-dynamic',
        }
    }
) %}

{% set actionUrl = route ? path(route, routeParams) : null %}

{% if disabled %}
    <span id="{{ id }}" class="{{ buttonClasses.apply({color, size, fullWidth, borderStyle, disabled}) }} {{ extraClasses }}" title="{{ title }}" {{ buttonMacros.renderAlpineAttributes(alpineAttributes) }} {{ attributes|raw }}>
        {{ renderContent(icon, label, iconPosition, textClasses.apply({color})) }}
        {% if block('content') is defined %}{{ block('content') }}{% endif %}
    </span>
{% else %}
    {% if buttonType == 'submit' %}
        <button id="{{ id }}" type="{{ buttonType }}" class="{{ buttonClasses.apply({color, size, fullWidth, borderStyle}) }} {{ extraClasses }}" title="{{ title }}" {{ buttonMacros.renderAlpineAttributes(alpineAttributes) }} {{ attributes|raw }}>
            {{ renderContent(icon, label, iconPosition, textClasses.apply({color})) }}
            {% if block('content') is defined %}{{ block('content') }}{% endif %}
        </button>
    {% elseif dataActionUrl %}
        <button id="{{ id }}" type="button" class="{{ buttonClasses.apply({color, size, fullWidth, borderStyle}) }} {{ extraClasses }}" title="{{ title }}" data-action-url="{{ actionUrl }}" {{ buttonMacros.renderAlpineAttributes(alpineAttributes) }} {{ attributes|raw }}>
            {{ renderContent(icon, label, iconPosition, textClasses.apply({color})) }}
            {% if block('content') is defined %}{{ block('content') }}{% endif %}
        </button>
    {% else %}
        <a href="{{ actionUrl }}" id="{{ id }}" class="{{ buttonClasses.apply({color, size, fullWidth, borderStyle}) }} {{ extraClasses }}" title="{{ title }}" {{ buttonMacros.renderAlpineAttributes(alpineAttributes) }} {{ attributes|raw }}>
            {{ renderContent(icon, label, iconPosition, textClasses.apply({color})) }}
            {% if block('content') is defined %}{{ block('content') }}{% endif %}
        </a>
    {% endif %}
{% endif %}
