<div x-show="activeTab === 'add'" class="mt-2">
    <h2 class="font-semibold text-white text-sm mb-2">Add a friend</h2>
    <div class="mt-2">
        {{ form_start(addFriendForm) }}
        <input type="hidden" x-ref="addFriendError" value="{{ form_errors(addFriendForm.username) ? 'true' : 'false' }}">

        <div class="flex flex-col w-full space-y-2 md:flex-row md:space-y-0 md:items-center">
            <div class="flex flex-col w-full">
                <div class="flex w-full space-x-2">
                    {{ form_widget(addFriendForm.username, {attr: {
                        class: 'rounded-md p-2 border border-r-0 border-solid border-quaternary bg-secondary text-sm w-full'
                    }}) }}
                    <twig:Cta
                        color="accent-primary"
                        size="xs"
                        label="Send"
                        icon="fa-paper-plane"
                        buttonType="submit"
                    />
                </div>
                <div class="text-danger text-sm mt-1">
                    {{ form_errors(addFriendForm.username) }}
                </div>
            </div>
        </div>
        {{ form_end(addFriendForm) }}
    </div>
</div>
