{% extends 'base.html.twig' %}

{% block title %}{{ wallet.month|month_name }} {{ wallet.year }} {{ parent() }}{% endblock %}

{% set page_requires_monthly = true %}
{% set page_requires_transaction = true %}
{% set page_requires_note = true %}
{% set page_requires_graphs = true %}

{% block body %}
    <div class="mb-1">
        {{ include('account/wallet/partial/_wallet_information.html.twig', {
            wallet: wallet,
            walletsAndTransactionsFromYear: walletsAndTransactionsFromYear,
            currentMonth: currentMonth,
            currentYear: currentYear,
            account: account
        }) }}
    </div>

    <div class="mb-1">
        {{ include('account/wallet/partial/transaction/_transactions.html.twig') }}
    </div>

    <div x-data="{ hoverAll: false }" @mouseenter="hoverAll = true" @mouseleave="hoverAll = false" class="fixed bottom-0 right-0 w-32 h-40 z-50">
        {{ include('components/note.html.twig') }}
        {{ include('components/graphs.html.twig') }}
    </div>
{% endblock %}
