{% extends 'base.html.twig' %}

{% block title %}{{ wallet.month|month_name }} {{ wallet.year }} {{ parent() }}{% endblock %}

{% set page_requires_monthly = true %}
{% set page_requires_transaction = true %}
{% set page_requires_note = true %}
{% set page_requires_graphs = true %}
{% set page_requires_actions = true %}
{% set page_requires_calendar = true %}
{% set page_requires_overview = true %}
{% set page_requires_information = true %}

{% block body %}
    <div class="mb-1">
        {{ include('account/wallet/partial/transaction/_transactions.html.twig') }}
    </div>

    <div x-data="{ hoverAll: false }" @mouseenter="hoverAll = true" @mouseleave="hoverAll = false" class="fixed bottom-0 right-0 w-32 h-40 z-50">
        {{ include('components/note.html.twig') }}
        {{ include('components/actions.html.twig') }}
        {{ include('components/graphs.html.twig') }}
        {{ include('components/calendar.html.twig') }}
        {{ include('components/overview.html.twig') }}
        {{ include('components/information.html.twig') }}
    </div>
{% endblock %}
