<div class="flex items-center flex-col text-dynamic mb-2 w-full">
    <span class="w-full text-sm text-dynamic font-bold mb-2 text-center">Wallet</span>
    <twig:BadgeNeon
        color="accent-primary"
        size="xs"
        borderStyle="solid"
        label="{{ wallet.getMonth()|month_abbreviation }} {{ wallet.getYear() }}"
        title="{{ wallet.getMonth()|month_name }} {{ wallet.getYear() }}"
    />
</div>

<div class="border-b border-solid border-quaternary mb-2"></div>

{{ include('components/leftSideMenu/buttons.html.twig', {
    buttons: [
        {id: 'js-open-right-side-menu-wallet-summary-button', icon: 'fa-gauge', title: 'Summary information about the wallet', text: 'Summary'},
        {id: 'js-open-right-side-menu-wallet-graphs-button', icon: 'fa-chart-simple', title: 'Graphic representation of the wallet', text: 'Graphics'},
        {id: 'js-open-right-side-menu-wallet-calendar-button', icon: 'fa-calendar', title: 'Monthly calendar', text: 'Calendar'},
        {id: 'js-open-right-side-menu-wallet-actions-button', icon: 'fa-screwdriver-wrench', title: 'Interact through actions on the wallet', text: 'Actions'},
        {id: 'js-open-right-side-menu-wallet-note-button', icon: 'fa-book', title: 'Notes', text: 'Notes'}
    ]
}) }}
