{% extends 'base.html.twig' %}

{% block title %}New Transaction - {{ parent() }}{% endblock %}

{% block body %}
    <div>
        <div class="bg-secondary shadow-lg rounded-md max-w-lg mx-auto border border-quaternary border-solid">
            <div class="bg-tertiary text-white text-center py-2 rounded-t-md border-b border-quaternary border-solid">
                <h1 class="text-md font-bold text-white">Add a new transaction</h1>
            </div>
            <div class="p-6">
                {{ form_start(form) }}

                <div class="grid grid-cols-1 sm:grid-cols-2 gap-1">
                    <div class="flex flex-col mb-2">
                        {{ form_label(form.nature, null, {label_attr: {class: 'text-white font-semibold'}}) }}
                        {{ form_widget(form.nature, {attr: {class: 'rounded-md p-2 bg-secondary border-quaternary border-solid border'}}) }}
                        <div class="text-danger text-sm mt-1">
                            {{ form_errors(form.nature) }}
                        </div>
                    </div>
                    <div class="flex flex-col mb-2">
                        {{ form_label(form.date, null, {label_attr: {class: 'text-white font-semibold'}}) }}
                        {{ form_widget(form.date, {attr: {class: 'rounded-md p-2 bg-secondary border-quaternary border-solid border'}}) }}
                        <div class="text-danger text-sm mt-1">
                            {{ form_errors(form.date) }}
                        </div>
                    </div>
                    <div class="flex flex-col mb-2">
                        {{ form_label(form.amount, null, {label_attr: {class: 'text-white font-semibold'}}) }}
                        {{ form_widget(form.amount, {attr: {class: 'rounded-md p-2 bg-secondary border-quaternary border-solid border'}}) }}
                        <div class="text-danger text-sm mt-1">
                            {{ form_errors(form.amount) }}
                        </div>
                    </div>
                    <div class="flex flex-col mb-2">
                        {{ form_label(form.transactionCategory, null, {label_attr: {class: 'text-white font-semibold'}}) }}
                        {{ form_widget(form.transactionCategory) }}
                        <div class="text-danger text-sm mt-1">
                            {{ form_errors(form.transactionCategory) }}
                        </div>
                    </div>
                    <div class="flex flex-col mb-2">
                        {{ form_label(form.wallet, null, {label_attr: {class: 'text-white font-semibold'}}) }}
                        {{ form_widget(form.wallet) }}
                        <div class="text-danger text-sm mt-1">
                            {{ form_errors(form.wallet) }}
                        </div>
                    </div>
                    <div class="flex flex-col mb-2">
                        {{ form_label(form.tag, null, {label_attr: {class: 'text-white font-semibold'}}) }}
                        {{ form_widget(form.tag) }}
                        <div class="text-danger text-sm mt-1">
                            {{ form_errors(form.tag) }}
                        </div>
                    </div>
                </div>
                <div class="flex flex-col mb-2">
                    {{ form_label(form.comment, 'Comment', {label_attr: {class: 'text-white font-semibold'}}) }}
                    {{ form_widget(form.comment, {attr: {class: 'rounded-md p-2 bg-secondary border-quaternary border-solid border'}}) }}
                    <div class="text-danger text-sm mt-1">{{ form_errors(form.comment) }}</div>
                </div>
                <div class="mt-4 flex justify-between">
                    <twig:Cta
                        color="quaternary"
                        size="sm"
                        icon="fa-arrow-left"
                        label="Back"
                        route="account_list"
                    />
                    <twig:Cta
                        color="accent-primary"
                        size="sm"
                        label="Create transaction"
                        buttonType="submit"
                    />
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
