<div class="p-1 rounded" x-data="{ open: true }">
    <div id="monthlyBill">
        <div class="flex justify-between items-center bg-secondary text-white rounded-t-md p-2">
            <h2 class="text-xl font-bold text-white">{{ transactionCategory.type|capitalize }}</h2>
            <button @click="open = !open" class="bg-primary text-white px-2 py-1 rounded">
                <span x-show="!open" class="text-white">Expand</span>
                <span x-show="open" class="text-white">Collapse</span>
            </button>
        </div>

        <!-- Transactions Content -->
        <div x-show="open" class="transition-all duration-300" :class="{'rounded-b-md': !open}">
            <div class="flex bg-white">
                <div class="w-full text-center bg-primary"><span class="font-bold text-white">Date</span></div>
                <div class="w-full text-center bg-primary"><span class="font-bold text-white">Tags</span></div>
                <div class="w-full text-center bg-primary"><span class="font-bold text-white">Nature</span></div>
                <div class="w-full text-center bg-primary"><span class="font-bold text-white">Actual</span></div>
                <div class="w-full text-center bg-primary"><span class="font-bold text-white">Actions</span></div>
            </div>

            {% for transactions in transactionCategory %}
                {% for transaction in transactions %}
                    <div class="flex {{ cycle(['bg-white', 'bg-quaternary'], loop.index) }}">
                        <div class="{{ loop.last ? 'rounded-bl-md' : '' }} w-full flex items-center justify-center">
                            <span class="p-2">{{ transaction.date ? transaction.date|date('d M Y') : '-' }}</span>
                        </div>
                        <div class="w-full flex items-center justify-center space-x-2 m-2 flex-wrap">
                            {% if transaction.tag|length > 0 %}
                                {% for tag in transaction.tag %}
                                    <span class="bg-secondary text-white px-2 py-1 rounded text-xs m-1" style="background-color: {{ tag.color }};">#{{ tag.name }}</span>
                                {% endfor %}
                            {% else %}
                                <span>-</span>
                            {% endif %}
                        </div>
                        <div class="w-full flex items-center justify-center">
                            <span class="font-bold text-center">{{ transaction.nature }}</span>
                        </div>
                        <div class="{{ loop.last ? 'rounded-br-md' : '' }} w-full flex items-center justify-center">
                            <span class="w-full flex items-center justify-center">{{ transaction.amount }}</span>
                        </div>
                        <div class="w-full flex items-center justify-center py-2 space-x-2 mr-2">
                            <a href="{{ path('transaction_edit_for_wallet', {year: transaction.wallet.year, month: transaction.wallet.month, id: transaction.id}) }}">
                                <button type="button" class="text-center font-bold bg-secondary hover:bg-secondary-hover text-white py-2 px-3 cursor-pointer rounded">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                            </a>
                            <button type="button" data-action-url="{{ path('transaction_delete', {year: transaction.wallet.year, month: transaction.wallet.month, id: transaction.id}) }}" class="js-delete-button text-center font-bold bg-danger hover:bg-danger-hover text-white py-2 px-3 cursor-pointer rounded">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="flex bg-white rounded-b-md">
                    <div class="w-full text-center border border-solid border-gray-300 p-2">
                        <span class="font-bold">No {{ transactionCategory.type }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Total Section -->
    <div class="flex bg-white" :class="open ? 'rounded-b-md' : ''">
        <div class="rounded-bl-md w-full text-center p-2 bg-primary">
            <span class="font-bold text-white">Total</span>
        </div>
        <div class="rounded-br-md w-full text-center p-2 flex items-stretch">
            <span class="bg-secondary text-white text-left px-2 py-1 w-1/6 h-full flex items-center justify-center rounded">
                {{ wallet.currency.value|currency_symbol }}
            </span>
            <span class="text-right w-5/6 flex items-center justify-end px-2">
                {{ transactionCategory.total|number_format(2, '.', ' ') }}
            </span>
        </div>
    </div>
</div>
