<div class="p-1 rounded">
    <div id="monthlyBill">
        <h2 class="rounded-t text-center text-xl font-bold p-2 bg-secondary text-white">{{ transactionCategory.type|capitalize }}</h2>

        <div class="flex bg-white">
            <div class="w-full text-center bg-primary"><span class="font-bold text-white">Date</span></div>
            <div class="w-full text-center bg-primary"><span class="font-bold text-white">Category</span></div>
            <div class="w-full text-center bg-primary"><span class="font-bold text-white">Actual</span></div>
            <div class="w-full text-center bg-primary"><span class="font-bold text-white">Actions</span></div>
        </div>

        {% for transactions in transactionCategory %}
            {% for transaction in transactions %}
                <div class="flex {{ cycle(['bg-white', 'bg-quaternary'], loop.index) }}">
                    <div class="{{ loop.last ? 'rounded-bl' : '' }} w-full flex items-center justify-center"><span class="font-bold p-2">{{ transaction.date|date('d M Y') }}</span></div>
                    <div class="w-full flex items-center justify-center"><span class="font-bold">{{ transaction.category }}</span></div>
                    <div class="{{ loop.last ? 'rounded-br' : '' }} w-full flex items-center justify-center">
                        <span class="w-full flex items-center justify-center">{{ transaction.amount }}</span>
                    </div>
                    <div class="w-full flex items-center justify-center py-2">
                        <button type="button"
                                data-action-url="{{ path('transaction_delete', {year: transaction.wallet.year, month: transaction.wallet.month, id: transaction.id}) }}"
                                class="js-delete-button text-center font-bold bg-danger hover:bg-danger-hover text-white py-2 px-3 cursor-pointer rounded">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="flex bg-white rounded-b">
                <div class="w-full text-center border border-solid border-gray-300 p-2"><span class="ont-bold">No {{ transactionCategory.type }}</span></div>
            </div>
        {% endfor %}
    </div>
    <div class="flex bg-white rounded-b">
        <div class="rounded-bl w-full text-center p-2 bg-primary">
            <span class="font-bold text-white">Total</span>
        </div>
        <div class="rounded-br w-full text-center p-2 flex items-stretch">
            <span class="bg-secondary text-white text-left px-2 py-1 w-1/6 h-full flex items-center justify-center rounded">
            {{ wallet.currency|currency_symbol }}
        </span>
            <span class="text-right w-5/6 flex items-center justify-end px-2">
            {{ transactionCategory.total|number_format(2, '.', ' ') }}
        </span>
        </div>
    </div>
</div>

{% block javascripts %}
    {{ importmap('transaction_tab') }}
{% endblock %}
